Repository EasyRPG/Player, pull requests merged in 2018-11, with the labels that each got.

#1431 Additional features for DebugMenu
  src/scene_debug.cpp
  src/scene_debug.h
  src/window_varlist.cpp
  src/window_varlist.h
Labels: Enhancement, Refactor, UX, Window/Scenes

#1439 Various engine logic fixes
  src/fps_overlay.cpp
  src/game_battle.cpp
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_character.cpp
  src/game_character.h
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_party.cpp
  src/game_party.h
  src/game_player.cpp
  src/game_temp.cpp
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/message_overlay.cpp
  src/output.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/scene_map.cpp
  src/utils.h
  src/window_battlestatus.cpp
  src/window_numberinput.cpp
  src/window_numberinput.h
  src/window_shopbuy.cpp
  src/window_targetstatus.cpp
Labels: Event/Interpreter, Savegames, Window/Scenes

#1467 GNU/Linux: Use default wildmidi config
  src/decoder_wildmidi.cpp
Labels: Audio

#1447 Albeleons's Battle fixes 1 of N
  src/game_actor.cpp
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_interpreter_battle.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_map.cpp
  src/window_item.cpp
Labels: Battle

#1482 Fix Item usability in battle - Previously Albeleon 2.30
  src/game_battlealgorithm.cpp
  src/scene_battle_rpg2k.cpp
  src/window_item.cpp
Labels: Battle

#1448 Albeleon's Battle Fixes 2 of N
  src/game_actor.cpp
  src/game_battle.cpp
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#1489 Fix for AddState()
  src/game_battler.cpp
Labels: Battle

#1477 0.5.4 regression fixes
  .gitignore
  builds/android/.idea/.name
  builds/android/.idea/compiler.xml
  builds/android/.idea/copyright/profiles_settings.xml
  builds/android/.idea/gradle.xml
  builds/android/.idea/misc.xml
  builds/android/.idea/modules.xml
  builds/android/.idea/runConfigurations.xml
  builds/android/.idea/vcs.xml
  builds/android/.idea/workspace.xml
  builds/android/android.iml
  builds/android/app/app.iml
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  src/filefinder.cpp
  src/game_actor.cpp
  src/game_interpreter.cpp
  src/graphics.cpp
Labels: Crash

#1492 AROS port
  src/decoder_wildmidi.cpp
  src/main_data.cpp
  src/picojson.h
  src/utils.cpp
  src/utils.h
Labels: Building

#1462 Refresh status window when battle events affect actors - Previously Albeleon 1.4
  src/game_interpreter.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
Labels: Battle

#1494 [Regression] AddState: Fix out of bounds write, simplify code
  src/game_battler.cpp
Labels: Crash

#1455 Random Encounters fixes
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
Labels: Battle

#1487 Critical Hit fixes - Previously Albeleon 3.17
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_map.cpp
  src/utils.cpp
  src/utils.h
Labels: Battle

#1449 Albeleon's Battle Fixes 3+4 of N
  src/battle_animation.cpp
  src/battle_animation.h
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
  src/scene_battle_rpg2k3.cpp
  src/window_base.cpp
  src/window_base.h
Labels: Battle

#1503 Remove SaveMapEvent::Fixup call
  src/game_event.cpp
Labels: Savegames

#1485 Support SavePanorama data
  src/game_map.cpp
Labels: Savegames

#1507 Fix SaveActor::row
  src/game_actor.cpp
  src/game_actor.h
  src/scene_menu.cpp
  src/window_actorinfo.cpp
  src/window_menustatus.cpp
Labels: Savegames

#1501 Screen flash fixes
  src/game_map.cpp
  src/game_map.h
  src/game_screen.cpp
  src/game_screen.h
Labels: Savegames
