Repository EasyRPG/Player, pull requests merged in 2018-12, with the labels that each got.

#1497 Battle fixes - replaces some Albeleon battle 3 commits + new fixes
  src/game_actor.cpp
  src/game_actor.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_party.cpp
  src/game_party.h
  src/game_party_base.cpp
  src/game_party_base.h
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
Labels: Battle

#1515 Fix issue 1514: Fixup wasn't called for last actor (off-by-1)
  src/game_actors.cpp
Labels: Savegames

#1523 Implement Get MIDI Ticks for non-MIDI formats by returning position in sec
  src/audio.cpp
  src/audio.h
  src/audio_decoder.h
  src/audio_generic.cpp
  src/audio_sdl_mixer.cpp
  src/decoder_mpg123.cpp
  src/decoder_mpg123.h
  src/decoder_oggvorbis.cpp
  src/decoder_oggvorbis.h
  src/decoder_opus.cpp
  src/decoder_opus.h
Labels: Audio, Event/Interpreter

#1519 Correct battle turn order in rpg2k battle - previously Albeleon 2.42
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle_rpg2k.cpp
Labels: Battle

#1525 Battle UI Fixes
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/window_skill.h
Labels: Battle, Window/Scenes

#1520 More ui fixes
  src/scene_file.cpp
  src/scene_file.h
  src/window_savefile.cpp
  src/window_skillstatus.cpp
Labels: Window/Scenes

#1511 Fix to_hit calculation - Previously Albeleon 2.34 + Weapon sp cost fix
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
Labels: Battle

#1451 Albeleon's Battle Fixes 6 of 7
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#1533 Enable manpages on all UNIX and make man path customizable
  CMakeLists.txt
Labels: Building

#1531 Implement SaveScreen::pan_x and SaveScreen::pan_y
  src/game_map.cpp
Labels: Savegames

#1529 Always clamp HP and SP on level change
  src/game_actor.cpp
Labels: Battle

#1543 Use RPG::State::kDeathID
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_interpreter_battle.cpp
Labels: Battle

#1542 Bugfix: MakeCanonical didn't skip empty path components
  src/filefinder.cpp
Labels: FileFinder

#1544 Log the RNG seed
  src/utils.cpp
Labels: Feature Request

#1537 Remove MSVC project files
  .gitignore
  AUTHORS.md
  CMakeLists.txt
  Makefile.am
  README.md
  builds/cmake/Modules/ConfigureWindows.cmake
  builds/cmake/Modules/FindSDL2_mixer.cmake
  builds/vs2015/EasyRPG.sln
  builds/vs2015/Player.vcxproj
  builds/vs2015/Player.vcxproj.filters
  builds/vs2015/PlayerLib.vcxproj
  builds/vs2015/PlayerLib.vcxproj.filters
  builds/vs2015/PropertySheet.props
  builds/vs2015/PropertySheetLib.props
  builds/vs2015/PropertySheetLibUWP.props
  builds/vs2015_uwp/Assets/LockScreenLogo.scale-200.png
  builds/vs2015_uwp/Assets/SplashScreen.scale-200.png
  builds/vs2015_uwp/Assets/Square150x150Logo.scale-200.png
  builds/vs2015_uwp/Assets/Square44x44Logo.scale-200.png
  builds/vs2015_uwp/Assets/Square44x44Logo.targetsize-24_altform-unplated.png
  builds/vs2015_uwp/Assets/StoreLogo.png
  builds/vs2015_uwp/Assets/Wide310x150Logo.scale-200.png
  builds/vs2015_uwp/EasyRPG.sln
  builds/vs2015_uwp/Package.appxmanifest
  builds/vs2015_uwp/PlayerUWP.vcxproj
  builds/vs2015_uwp/PlayerUWP.vcxproj.filters
  builds/vs2015_uwp/PropertySheet.props
  builds/vs2015_uwp/SDL-UWP.vcxproj
  builds/vs2015_uwp/SDL-UWP.vcxproj.filters
  builds/vs2015_uwp/SDL_winrt_main_NonXAML.cpp
  lib/README.md
  src/filefinder.cpp
  src/player.cpp
  src/registry.cpp
  src/registry.h
  src/scene_gamebrowser.cpp
  src/sdl2_ui.cpp
  src/util_win.cpp
  src/util_win.h
Labels: Building

#1502 Refactor Game_Character classes 1 of 2
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_event.h
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/player.cpp
  src/sprite_character.cpp
  src/utils.h
Labels: Refactor, Savegames

#1498 Fix Saving and Loading of panning chunks
  src/game_character.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_player.cpp
  src/game_player.h
Labels: Savegames

#1545 Fixes for TintScreen and tint pictures
  src/game_picture.cpp
  src/scene_map.cpp
  src/spriteset_map.cpp
  src/tone.cpp
  src/tone.h
Labels: Event/Interpreter

#1551 Panorama fixes
  src/game_map.cpp
  src/game_map.h
Labels: Event/Interpreter, Refactor

#1526 Fixes for skills and attributes
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_party.cpp
  src/game_party.h
  src/scene_actortarget.cpp
Labels: Battle, Window/Scenes

#1538 Battle action and states fixes - Previous Albeleon 2.21 / 2.41 from battle 7
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle

#1539 Battle Algorithm related fixes from battle 7
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
Labels: Battle

#1540 Implement dual attack and dual weapons + attack all fix
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/utils.h
Labels: Battle

#1563 Support 100% dodge States
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
Labels: Battle

#1562 Support Cursed (fixed equipment) Items and states
  src/game_actor.cpp
  src/scene_equip.cpp
Labels: Battle, Window/Scenes

#1555 Crash Bugfix: Pictures not cleaned up
  src/game_screen.cpp
Labels: Crash, Savegames

#1452 Albeleon's Battle Fixes 7 of 7
  src/game_battlealgorithm.cpp
  src/game_enemy.cpp
  src/game_enemy.h
  src/scene_battle_rpg2k.cpp
  src/sprite_battler.cpp
  src/sprite_battler.h
Labels: Battle

#1560 More battle states fixes + Defend
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#1553 Handle saving and loading of tile substitutions
  src/game_map.cpp
  src/game_map.h
  src/spriteset_map.cpp
  src/tilemap.cpp
  src/tilemap.h
  src/tilemap_layer.cpp
  src/tilemap_layer.h
Labels: Refactor, Savegames

#1572 Wasapi audio fixes
  src/audio_sdl.cpp
  src/audio_sdl_mixer.cpp
  src/scene.cpp
Labels: Audio

#1522 Refactor Game_Character classes 2 of 2
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_map.cpp
  src/game_player.cpp
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/player.cpp
  src/scene_save.cpp
  src/scene_title.cpp
Labels: Refactor, Savegames

#1569 BUGFIX: battle 2k3 regressions
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle.cpp
Labels: Battle, Hang

#1566 Interpreter Fixes
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_temp.cpp
  src/game_temp.h
  src/scene_map.cpp
Labels: Event/Interpreter, Savegames

#1579 Regression Fix: RTP table mapping japanese <-> other
  src/rtp_table.h
Labels: FileFinder

#1583 Do game over checks for event commands
  src/game_interpreter.cpp
Labels: Event/Interpreter, Window/Scenes

#1578 Fix 1574, 1576 and improve title reload
  src/cache.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_player.cpp
  src/game_temp.cpp
  src/game_temp.h
  src/player.cpp
  src/scene_load.cpp
  src/scene_map.cpp
  src/scene_title.cpp
  src/scene_title.h
Labels: Window/Scenes

#1580 Save game and move route fixes
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_screen.cpp
  src/game_screen.h
  src/player.cpp
Labels: Savegames

#1554 More panorama fixes
  src/game_character.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/player.cpp
  src/spriteset_map.cpp
Labels: Refactor, Window/Scenes

#1541 Support proper rendering of Sprites at map borders of looping maps
  src/game_character.cpp
  src/game_character.h
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/sprite_airshipshadow.cpp
  src/sprite_airshipshadow.h
  src/sprite_character.cpp
  src/sprite_character.h
  src/spriteset_map.cpp
  src/spriteset_map.h
Labels: Event/Interpreter

#1590 Fix shop equipment arrows
  src/window_shopparty.cpp
Labels: Window/Scenes
