Repository EasyRPG/Player, pull requests merged in 2018-10, with the labels that each got.

#1422 Add citro[23]d based 3dsui
  builds/3ds/Makefile
  builds/3ds/data/keyboard.bmp
  builds/3ds/gfx/assets.t3s
  builds/3ds/gfx/keyboard.png
  src/3ds_ui.cpp
  src/3ds_ui.h
  src/audio_3ds.cpp
  src/decoder_wildmidi.cpp
  src/filefinder.cpp
  src/main_data.cpp
  src/player.cpp
  src/rtp_table.h
Labels: 3DS, Performance, Refactor

#1440 Fix crash when using Switch Skills in rm2k battle
  src/game_battlealgorithm.cpp
Labels: Battle, Crash

#1432 Scene_Debug: Support debug menu in battles & use instant transition
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/scene_map.cpp
  src/scene_map.h
Labels: UX

#1433 Reset Game_Temp globals when loading saved game.
  src/game_temp.cpp
  src/player.cpp
  src/scene_load.cpp
Labels: Savegames

#1441 Obey Map and Database save_count when loading games
  src/game_map.cpp
  src/game_map.h
Labels: Event/Interpreter, Savegames
