Repository EasyRPG/Player, pull requests merged in 2018-07, with the labels that each got.

#1369 Turn Transition to a Drawable; Implement missing transitions (RandomBlockUp/Down, WaveIn/Out, ZoomIn/Out, MosaicIn/Out)
  AUTHORS.md
  CMakeLists.txt
  Makefile.am
  builds/vs2015/PlayerLib.vcxproj
  builds/vs2015/PlayerLib.vcxproj.filters
  src/drawable.h
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_system.cpp
  src/game_temp.cpp
  src/game_temp.h
  src/graphics.cpp
  src/graphics.h
  src/player.cpp
  src/scene.cpp
  src/scene_battle.cpp
  src/scene_map.cpp
  src/scene_title.cpp
  src/transition.cpp
  src/transition.h
Labels: Refactor

#1385 Bump Android SDK Version
  builds/android/app/app.iml
  builds/android/app/build.gradle
Labels: Android

#1384 ZIP file support for standalone mode on Android.
  builds/android/app/src/main/java/org/easyrpg/player/MainActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/player/AssetUtils.java
Labels: Android

#1396 Update AndroidManifest.xml
  builds/android/app/src/main/AndroidManifest.xml
Labels: Android

#1400 Fix missing background on battle test quit in emscripten
  src/player.cpp
  src/scene_battle.cpp
Labels: Battle, HTML5

#1380 ToneBlit performance and Method Implementation, Sprite Flashes, other fixes
  src/background.cpp
  src/background.h
  src/battle_animation.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/game_character.h
  src/game_event.cpp
  src/game_interpreter_map.cpp
  src/game_player.cpp
  src/game_vehicle.cpp
  src/screen.cpp
  src/sprite.cpp
  src/spriteset_battle.cpp
  src/spriteset_map.cpp
  src/weather.cpp
Labels: Performance
