Repository EasyRPG/Player, pull requests merged in 2019-05, with the labels that each got.

#1717 Scene + Transition fixes
  src/game_temp.cpp
  src/game_temp.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_debug.cpp
  src/scene_gamebrowser.cpp
  src/scene_gamebrowser.h
  src/scene_gameover.cpp
  src/scene_gameover.h
  src/scene_item.cpp
  src/scene_item.h
  src/scene_map.cpp
  src/scene_map.h
  src/scene_menu.cpp
  src/scene_menu.h
  src/scene_skill.cpp
  src/scene_skill.h
  src/scene_teleport.cpp
  src/scene_teleport.h
  src/scene_title.cpp
  src/scene_title.h
Labels: Event/Interpreter

#1719 EnterHeroName on bad actor? Report error instead of crash
  src/game_interpreter_map.cpp
Labels: Crash, Event/Interpreter

#1765 Fix crash with TriggerSet and trigger == -1
  src/game_player.cpp
Labels: Crash, Event/Interpreter

#1759 Fix black title graphic regression and system graphic flicker in TestPlay mode
  src/scene_logo.cpp
  src/scene_logo.h
  src/scene_title.cpp
  src/scene_title.h
Labels: Window/Scenes

#1760 Cache improvements and effect caching
  src/audio_secache.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/cache.cpp
  src/cache.h
  src/color.cpp
  src/color.h
  src/rect.cpp
  src/rect.h
  src/sprite.cpp
  src/sprite.h
  src/tone.h
Labels: Bitmaps, Performance

#1772 Refactor character flash
  src/battle_animation.cpp
  src/battle_animation.h
  src/color.h
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_interpreter_map.cpp
  src/game_picture.cpp
  src/game_player.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/game_vehicle.cpp
  src/screen.cpp
  src/sprite_character.cpp
Labels: Bitmaps, Refactor

#1775 Render flying events (airship) above all others
  src/drawable.cpp
  src/drawable.h
  src/game_character.cpp
  src/sprite_airshipshadow.cpp
Labels: Event/Interpreter
