Repository EasyRPG/Player, pull requests merged in 2019-08, with the labels that each got.

#1740 Refactor Interpreter command execution
  src/game_battle.cpp
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_battle.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_map.cpp
  src/game_map.h
Labels: Event/Interpreter, Refactor, Savegames

#1782 Improved support for SetVehicleLocation() teleport..
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_player.h
  src/scene_map.cpp
  src/teleport_target.h
Labels: Event/Interpreter, Needs Rebase

#1855 Fix repeat flag for move routes ending in non movement
  src/game_character.cpp
Labels: Event/Interpreter, Hang, Move Routes

#1862 Vehicle teleport crash fix
  src/game_interpreter.cpp
  src/game_map.cpp
Labels: Crash, Event/Interpreter

#1866 Clamp stat mod values to match RPG_RT
  src/game_actor.cpp
Labels: Event/Interpreter

#1851 Vehicle Sprites + Misc LSD chunks
  src/game_battle.cpp
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_player.cpp
  src/game_system.cpp
  src/game_vehicle.cpp
  src/game_vehicle.h
Labels: Event/Interpreter, Savegames

#1848 Battle code improvements
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_interpreter.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/spriteset_battle.cpp
Labels: Battle, Refactor

#1868 Fix emscripten audio playback on newer Chrome versions
  resources/emscripten/emscripten-post.js
Labels: HTML5

#1779 Correct autostart events execution order
  src/game_battle.cpp
  src/game_commonevent.cpp
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_map.cpp
  src/game_map.h
Labels: Event/Interpreter

#1870 Fix Tile Memory Leak w.r.t the cache_effects map
  src/cache.cpp
Labels: Bitmaps, Crash

#1872 Fix flash sprite green and blue colors
  src/game_character.cpp
Labels: Event/Interpreter

#1842 Refactor game system
  src/cache.cpp
  src/cache.h
  src/font.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_system.cpp
  src/game_system.h
  src/player.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/scene_file.cpp
  src/scene_gamebrowser.cpp
  src/scene_title.cpp
  src/sprite_airshipshadow.cpp
  src/sprite_timer.cpp
  src/text.cpp
  src/window.cpp
  src/window_base.cpp
  src/window_base.h
  src/window_battlestatus.cpp
  src/window_battlestatus.h
  src/window_shopparty.cpp
Labels: Event/Interpreter, Refactor, Savegames

#1880 Battle2k: Fix bug in self destruct logic
  src/scene_battle_rpg2k.cpp
Labels: Battle
