Repository EasyRPG/Player, pull requests merged in 2019-04, with the labels that each got.

#1713 Branch loop limit workaround
  src/game_interpreter.cpp
Labels: Event/Interpreter

#1736 Fix battle events page triggering
  src/game_battle.cpp
Labels: Battle, Event/Interpreter

#1698 Refactor move towards / away from player
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_event.h
Labels: Event/Interpreter, Refactor

#1701 Fix Screen Effects + Timers
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_party.cpp
  src/game_party.h
  src/scene_battle.cpp
  src/scene_map.cpp
  src/sprite_timer.cpp
  src/sprite_timer.h
Labels: Event/Interpreter, Refactor

#1687 Refactor MakeWay
  src/game_character.cpp
  src/game_character.h
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/game_vehicle.h
Labels: Event/Interpreter, Refactor

#1694 Refactor Teleport
  CMakeLists.txt
  Makefile.am
  src/async_handler.cpp
  src/async_handler.h
  src/background.cpp
  src/battle_animation.cpp
  src/frame.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_picture.cpp
  src/game_player.cpp
  src/game_player.h
  src/graphics.cpp
  src/graphics.h
  src/player.cpp
  src/player.h
  src/scene.cpp
  src/scene.h
  src/scene_battle_rpg2k3.cpp
  src/scene_gameover.cpp
  src/scene_item.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/scene_skill.cpp
  src/scene_teleport.cpp
  src/scene_title.cpp
  src/sprite_battler.cpp
  src/sprite_character.cpp
  src/spriteset_map.cpp
  src/teleport_target.h
  src/window_base.cpp
  src/window_battlestatus.cpp
  src/window_shopparty.cpp
Labels: Event/Interpreter, Refactor

#1746 CMake: Add libsamplerate + maintanance
  CMakeLists.txt
  src/decoder_wildmidi.cpp
  src/filefinder.cpp
  src/main_data.cpp
Labels: Building

#1745 Item + Shake fixes
  src/game_battler.cpp
  src/game_interpreter.cpp
  src/game_party.cpp
  src/scene_actortarget.cpp
Labels: Window/Scenes

#1697 Refactor event triggering
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_event.h
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/game_vehicle.h
Labels: Event/Interpreter, Refactor

#1752 Replace Default Color with Black if there is no title images
  src/scene_title.cpp
Labels: Window/Scenes

#1751 Fix Message Color is reset on multiple choices.
  src/window_message.cpp
Labels: Window/Scenes

#1739 Remove SaveExecFrame:commands_size (liblcf #324)
  src/game_interpreter_map.cpp
Labels: Event/Interpreter, Savegames

#1756 Fix (Android) crashes 10 and 11
  src/cache.cpp
  src/game_map.cpp
  src/message_overlay.cpp
  src/output.cpp
Labels: Android, Crash

#1714 Refactor player update handling + scene calling
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_player.h
  src/game_temp.cpp
  src/game_temp.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/scene.h
  src/scene_battle.cpp
  src/scene_debug.cpp
  src/scene_map.cpp
  src/scene_map.h
Labels: Event/Interpreter, Refactor
