Repository EasyRPG/Player, pull requests merged in 2019-09, with the labels that each got.

#1784 Implement fully async transitions
  src/game_battle.cpp
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_player.h
  src/game_temp.cpp
  src/game_temp.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/teleport_target.h
Labels: Event/Interpreter

#1881 Run foreground events during preupdate after teleport
  src/game_interpreter_map.cpp
  src/game_map.h
  src/game_player.h
  src/player.cpp
  src/scene_debug.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/teleport_target.h
Labels: Event/Interpreter

#1889 Add RTP 2003 for "Traditional Chinese".
  resources/rtp_table/RTP2k3.csv
  src/rtp.cpp
  src/rtp.h
  src/rtp_table.cpp
Labels: FileFinder

#1892 Fix hang in Game_Map::UpdateForegroundEvents
  src/game_map.cpp
Labels: Event/Interpreter, HTML5, Regression

#1884 Refactor Interpreter Stack Frame Completion
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_map.cpp
Labels: Event/Interpreter, Performance, Refactor

#1742 Refactor interpreter control flow
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_battle.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_temp.cpp
  src/game_temp.h
Labels: Event/Interpreter, Refactor

#1856 Implement 2k3 Death Handlers
  src/game_battle.cpp
  src/game_battle.h
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_temp.cpp
  src/game_temp.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/scene_map.cpp
Labels: Battle, Event/Interpreter

#1832 Add support for calling events from debug scene + Code Refactor
  src/scene_debug.cpp
  src/scene_debug.h
  src/window_varlist.cpp
  src/window_varlist.h
Labels: Enhancement, Event/Interpreter, Refactor, Window/Scenes

#1887 Async improvements + Async Inn Sequence
  CMakeLists.txt
  Makefile.am
  src/async_op.h
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_map.cpp
  src/game_map.h
  src/game_system.cpp
  src/game_system.h
  src/game_temp.cpp
  src/game_temp.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_map.cpp
  src/scene_map.h
Labels: Event/Interpreter, Refactor

#1901 Game_Event: Always clear interpreter on page change
  src/game_event.cpp
Labels: Event/Interpreter, Regression

#1905 Fix text color for inn choices
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_message.cpp
  src/game_message.h
  src/window_message.cpp
Labels: Regression, Window/Scenes

#1906 FileFinder: Support directory symlinks on linux
  src/filefinder.cpp
  src/filefinder.h
  tests/filefinder.cpp
Labels: Enhancement, FileFinder

#1896 Emscripten: Support non-canonical paths
  src/async_handler.cpp
  src/filefinder.cpp
Labels: FileFinder, HTML5

#1897 Fix Player getting stuck at 0 FPS.
  src/graphics.cpp
  src/graphics.h
  src/player.cpp
  src/player.h
Labels: Performance

#1898 Fix FastBlit edge cases
  src/spriteset_map.cpp
  src/tilemap_layer.cpp
  src/tilemap_layer.h
Labels: Performance, Regression

#1877 Emulate RPG_RT crash: vehicle teleport from parallel map event
  src/game_interpreter.cpp
Labels: Event/Interpreter

#1915 Fixes for CommandStoreEventID
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
Labels: Event/Interpreter

#1860 Multi-Game save Import support and Metadata file
  CMakeLists.txt
  Makefile.am
  resources/shared/easyrpg.ini
  src/meta.cpp
  src/meta.h
  src/options.h
  src/player.cpp
  src/player.h
  src/scene_file.cpp
  src/scene_file.h
  src/scene_import.cpp
  src/scene_import.h
  src/scene_title.cpp
  src/scene_title.h
  src/window_import_progress.cpp
  src/window_import_progress.h
  src/window_savefile.cpp
  src/window_savefile.h
Labels: Enhancement

#1758 Refactor Battle Animations
  src/battle_animation.cpp
  src/battle_animation.h
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_screen.cpp
  src/game_screen.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_map.cpp
  src/sprite_battler.cpp
Labels: Event/Interpreter, Refactor

#1882 Migrate to C++14 / Gcc5
  CMakeLists.txt
  builds/3ds/Makefile
  builds/amiga/Makefile
  builds/android/app/src/main/jni/gamebrowser/Android.mk
  builds/android/app/src/main/jni/src/Android.mk
  builds/opendingux/Makefile
  builds/psvita/Makefile
  builds/switch/Makefile
  builds/wii/Makefile
  configure.ac
Labels: Building
