Repository EasyRPG/Player, pull requests merged in 2019-02, with the labels that each got.

#1532 Composite Characters Fix
  src/filefinder.cpp
Labels: FileFinder

#1622 Fix emscripten & OSX build
  builds/cmake/Modules/FindSDL2.cmake
  src/player.cpp
  src/scene_save.cpp
Labels: Building

#1609 Android: Update to SDL2.0.9
  builds/android/app/src/main/java/org/libsdl/app/HIDDevice.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceBLESteamController.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceManager.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceUSB.java
  builds/android/app/src/main/java/org/libsdl/app/SDL.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLAudioManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLControllerManager.java
  builds/android/app/src/main/jni/SDL2/Android.mk
  builds/android/app/src/main/jni/src/Android.mk
Labels: Android, Building

#1620 Vehicle bgm fix
  src/game_map.cpp
  src/game_player.cpp
  src/game_player.h
Labels: Window/Scenes

#1463 Update splash logo image
  resources/logo.png
  src/logo.h
Labels: Enhancement

#1621 Use most recent rm2k3e names in Status menu
  src/window_actorinfo.cpp
Labels: Window/Scenes

#1607 Polish Switch Port a bit, use GL
  builds/switch/Makefile
  src/audio_switch.cpp
  src/audio_switch.h
  src/baseui.cpp
  src/decoder_wildmidi.cpp
  src/filefinder.cpp
  src/output.cpp
  src/player.cpp
  src/switch_ui.cpp
  src/system.h
Labels: Switch

#1632 Battle 2k3: Fix automatic state healing, the counter is global
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#1615 Shop + Other UI Fixes
  src/scene_shop.cpp
  src/window_actorinfo.cpp
  src/window_actorstatus.cpp
  src/window_equipstatus.cpp
  src/window_help.cpp
  src/window_paramstatus.cpp
  src/window_savefile.cpp
  src/window_shop.cpp
  src/window_shop.h
  src/window_shopparty.cpp
Labels: Window/Scenes

#1605 Battle 2k3: Visual fixes for CogDis
  CMakeLists.txt
  Makefile.am
  src/background.cpp
  src/game_battle.cpp
  src/game_battle.h
  src/game_map.cpp
  src/player.cpp
  src/player.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/scene_logo.cpp
  src/scene_title.cpp
  src/spriteset_battle.cpp
  src/window_actorsp.cpp
  src/window_actorsp.h
  src/window_battlestatus.cpp
Labels: Battle

#1637 Fix Crash in show choice when cancel idx > last valid choice idx
  src/game_interpreter.cpp
Labels: Crash, Event/Interpreter

#1630 Make RTP warnings more noticeable
  resources/easyrpg-player.6.adoc
  src/filefinder.cpp
  src/filefinder.h
  src/player.cpp
  src/player.h
Labels: FileFinder, UX

#1381 EXE ExFont extraction.
  CMakeLists.txt
  Makefile.am
  src/cache.cpp
  src/cache.h
  src/exe_reader.cpp
  src/exe_reader.h
  src/options.h
  src/player.cpp
  src/utils.cpp
  src/utils.h
Labels: Enhancement, UX

#1646 Misc (cleanup, build system)
  .gitignore
  CMakeLists.txt
  Makefile.am
  README.md
  builds/autoconf/m4/ax_cxx_compile_stdcxx.m4
  configure.ac
  src/baseui.cpp
  src/bitmap.cpp
  src/decoder_wildmidi.cpp
  src/filefinder.cpp
  src/image_bmp.cpp
  src/image_bmp.h
  src/image_png.cpp
  src/image_png.h
  src/image_xyz.cpp
  src/image_xyz.h
  src/main_data.cpp
  src/player.cpp
  src/registry_wine.cpp
  src/system.h
Labels: Building, Refactor
