Repository EasyRPG/Player, pull requests merged in 2019-07, with the labels that each got.

#1823 Fix divide by 0 crash in Parallax::Update()
  src/game_map.cpp
Labels: Crash

#1815 Fix 1814
  src/window_message.cpp
  src/window_message.h
Labels: Event/Interpreter, Regression

#1816 Fix 1594
  src/filefinder.cpp
  src/filefinder.h
  src/scene_logo.cpp
  src/window_gamelist.cpp
Labels: FileFinder

#1810 Battle2k: Handle enemies with no actions + Death timing fixes
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
Labels: Battle

#1817 Debug menu improvements + Teleport to maps
  src/game_actor.cpp
  src/game_actor.h
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_player.cpp
  src/scene_debug.cpp
  src/scene_debug.h
  src/scene_map.cpp
  src/window_varlist.cpp
  src/window_varlist.h
Labels: Enhancement

#1754 Refactor RTP handling
  CMakeLists.txt
  Makefile.am
  resources/rtp_table/RTP2k.csv
  resources/rtp_table/RTP2k3.csv
  resources/rtp_table/rtp.py
  src/filefinder.cpp
  src/filefinder.h
  src/registry_wine.cpp
  src/rtp.cpp
  src/rtp.h
  src/rtp_table.cpp
  src/rtp_table.h
  tests/rtp.cpp
Labels: FileFinder, Refactor

#1828 Allow disembark on events with no page + Game_Character cleanups
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_event.h
  src/game_map.cpp
Labels: Event/Interpreter

#1825 Simplify setting the app icon
  src/sdl2_ui.cpp
Labels: UX

#1830 Battle2k: Always allow escape when first strike + unusable skills fix
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#1836 Terrain / Tile fixes
  src/game_map.cpp
  src/map_data.h
Labels: Event/Interpreter

#1839 Fix crashing bug in RemoveActionsForNonExistantBattlers()
  src/scene_battle.cpp
Labels: Battle, Crash, Regression

#1843 Include player version in game browser
  src/window_about.cpp
Labels: Enhancement

#1835 Add missing dist files
  Makefile.am
  src/3ds_ui.h
  src/psp2_ui.h
  src/switch_ui.h
Labels: Building

#1844 Fixes for Empty Shops - Fix crash and graphical errors.
  src/window_shop.cpp
  src/window_shopbuy.cpp
  src/window_shopparty.cpp
  src/window_shopstatus.cpp
Labels: Crash, Window/Scenes

#1850 Remove SaveInventory::party_size
  src/game_party.cpp
Labels: Savegames
