Repository EasyRPG/Player, pull requests merged in 2019-12, with the labels that each got.

#1955 Fix Vehicle Teleport transition regression
  src/scene_map.cpp
  src/scene_map.h
Labels: Regression, Transitions

#1953 Correctness fixes for Pictures
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_picture.cpp
  src/game_picture.h
  src/game_screen.cpp
  src/game_screen.h
  src/scene_map.cpp
  src/scene_map.h
  src/sprite.cpp
  src/sprite.h
Labels: Pictures, Savegames

#1968 Fix picture flash / BlendBlit() glitch
  src/bitmap.cpp
Labels: Bitmaps, Regression

#1958 pixel_format.h - Fix compile errors with DynamicAlpha formats
  src/pixel_format.h
Labels: Building

#1971 Cmake fixes for MSVC 2019 and SDL 2.0.10
  CMakeLists.txt
  builds/cmake/Modules/FindSDL2.cmake
Labels: Building

#1963 Make bitmapfont objects constexpr
  CMakeLists.txt
  Makefile.am
  resources/shinonome/generate_cxx_font.rb
  resources/wenquanyi/gen_wqy_font_cpp.py
  src/bitmapfont.h
  src/bitmapfont_glyph.h
  src/bitmapfont_rmg2000.h
  src/bitmapfont_ttyp0.h
  src/bitmapfont_wqy.h
  src/font.cpp
  src/shinonome_gothic.h
  src/shinonome_mincho.h
  tests/bitmapfont.cpp
Labels: Building, Fonts, Performance

#1962 Add micro benchmark framework
  CMakeLists.txt
  bench/bitmap.cpp
  bench/font.cpp
  bench/text.cpp
  src/cache.cpp
  src/cache.h
  src/color.h
  src/rect.h
  src/tone.h
Labels: Building, Performance

#1959 Flatten Bitmap formats_map into an array
  src/bitmap.cpp
  src/bitmap.h
Labels: Performance

#1969 Emulate legacy rm2k/3 move picture behavior + refactor engine accessors
  src/filefinder.cpp
  src/game_picture.cpp
  src/game_picture.h
  src/game_screen.cpp
  src/player.cpp
  src/player.h
Labels: Pictures, Refactor

#1895 Frozen Triggers Optimizations // Minor AsyncHandler Optimizations
  src/async_handler.cpp
  src/async_handler.h
Labels: Performance

#1979 Fix tone Blending calculation
  src/tone.h
Labels: Bitmaps

#1960 Make DynamicFormat and Bitmap formats_map constexpr
  src/bitmap.cpp
  src/pixel_format.h
Labels: Building, Performance

#1988 Fix spritesheet regression
  src/game_interpreter.cpp
  src/game_picture.cpp
  src/game_picture.h
Labels: Pictures, Regression

#1975 Optimization: Devirtualize Drawable attributes - Drawables 1 of N
  bench/draw.cpp
  src/background.cpp
  src/background.h
  src/battle_animation.cpp
  src/battle_animation.h
  src/drawable.cpp
  src/drawable.h
  src/fps_overlay.cpp
  src/fps_overlay.h
  src/frame.cpp
  src/frame.h
  src/graphics.cpp
  src/graphics.h
  src/message_overlay.cpp
  src/message_overlay.h
  src/plane.cpp
  src/plane.h
  src/screen.cpp
  src/screen.h
  src/sprite.cpp
  src/sprite.h
  src/tilemap_layer.cpp
  src/tilemap_layer.h
  src/transition.cpp
  src/transition.h
  src/weather.cpp
  src/weather.h
  src/window.cpp
  src/window.h
Labels: Drawables, Performance

#1987 Add RTP benchmark
  bench/rtp.cpp
Labels: Performance, Tests

#1980 Window_ShopParty: render custom charset image sizes correctly
  src/sprite_character.cpp
  src/sprite_character.h
  src/window_shopparty.cpp
Labels: Window/Scenes

#1976 Move unit tests in a single executable (test_runner, lcf-like) and support FileFinder test
  CMakeLists.txt
  Makefile.am
  tests/bitmapfont.cpp
  tests/directorytree.cpp
  tests/doctest.h
  tests/filefinder.cpp
  tests/game/Charset/chara1.png
  tests/game/RPG_RT.ldb
  tests/game/RPG_RT.lmt
  tests/notagame/.gitkeep
  tests/output.cpp
  tests/rtp.cpp
  tests/test_main.cpp
  tests/utf.cpp
  tests/utils.cpp
  tests/wordwrap.cpp
Labels: Building, Tests

#1977 Drawable classes - Cleanups and small optimizations - Drawables 2 of N
  bench/draw.cpp
  src/background.cpp
  src/background.h
  src/battle_animation.cpp
  src/battle_animation.h
  src/color.h
  src/drawable.h
  src/fps_overlay.cpp
  src/fps_overlay.h
  src/frame.cpp
  src/frame.h
  src/graphics.cpp
  src/graphics.h
  src/message_overlay.cpp
  src/message_overlay.h
  src/plane.cpp
  src/plane.h
  src/player.cpp
  src/screen.cpp
  src/screen.h
  src/sprite.cpp
  src/sprite.h
  src/sprite_timer.cpp
  src/sprite_timer.h
  src/tilemap.cpp
  src/tilemap.h
  src/tilemap_layer.cpp
  src/tilemap_layer.h
  src/tone.h
  src/transition.cpp
  src/transition.h
  src/weather.cpp
  src/weather.h
  src/window.cpp
  src/window.h
  src/window_menustatus.cpp
Labels: Drawables, Performance

#1996 CMake: Prevent conflicts in the test runner
  CMakeLists.txt
  tests/switches.cpp
  tests/variables.cpp
Labels: Building, Tests

#1974 Remove gcw0 compat hack + Fix 3ds build
  builds/opendingux/Makefile
  builds/opendingux/compat/cmath
  src/game_variables.h
Labels: Building

#1909 Refactor Game_Message / Window_Message interface - Messages 3 of N
  CMakeLists.txt
  Makefile.am
  src/game_actor.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_map.cpp
  src/game_map.h
  src/game_message.cpp
  src/game_message.h
  src/game_temp.cpp
  src/game_temp.h
  src/pending_message.cpp
  src/pending_message.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
  src/scene_battle_rpg2k3.cpp
  src/scene_map.cpp
  src/sprite_timer.cpp
  src/window_message.cpp
  src/window_message.h
Labels: Refactor, Window/Scenes

#1991 Optimize weather rendering - Drawables 3' of N
  src/weather.cpp
  src/weather.h
Labels: Drawables, Performance, Weather

#1982 Refactor DrawableList + Battle Animation Crash Fix - Drawables 3 of N
  CMakeLists.txt
  Makefile.am
  bench/draw.cpp
  src/background.cpp
  src/battle_animation.cpp
  src/drawable.cpp
  src/drawable.h
  src/drawable_list.cpp
  src/drawable_list.h
  src/drawable_mgr.cpp
  src/drawable_mgr.h
  src/fps_overlay.cpp
  src/frame.cpp
  src/graphics.cpp
  src/graphics.h
  src/message_overlay.cpp
  src/plane.cpp
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_gameover.cpp
  src/scene_item.cpp
  src/scene_map.cpp
  src/scene_skill.cpp
  src/scene_teleport.cpp
  src/scene_title.cpp
  src/screen.cpp
  src/sprite.cpp
  src/spriteset_map.cpp
  src/spriteset_map.h
  src/tilemap_layer.cpp
  src/transition.cpp
  src/transition.h
  src/weather.cpp
  src/window.cpp
  tests/drawable_list.cpp
  tests/drawable_mgr.cpp
Labels: Crash, Drawables, Refactor, Regression

#1993 Optimize Cache lookup
  src/async_handler.cpp
  src/async_handler.h
  src/cache.cpp
Labels: Performance

#1999 Switch + macOS fix
  src/audio_switch.cpp
  tests/wordwrap.cpp
Labels: Building

#1992 Implement Fog and Sandstorm overlay effect
  src/game_screen.cpp
  src/game_screen.h
  src/weather.cpp
  src/weather.h
Labels: Weather

#2002 Fix Variable max initialization bug in 2k
  src/player.cpp
Labels: Regression

#2001 Fix interaction of battle end conditions with running events
  src/game_battle.cpp
Labels: Battle, Event/Interpreter

#2009 Output test: cleanup singletons
  tests/output.cpp
Labels: Crash, Graphics, Tests

#1986 Bitmap Improvements: PixmanImagePtr and Opacity - Bitmaps 1 of N
  CMakeLists.txt
  Makefile.am
  bench/bitmap.cpp
  src/background.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/cache.cpp
  src/game_picture.cpp
  src/opacity.h
  src/pixman_image_ptr.h
  src/plane.cpp
  src/sprite.cpp
  src/sprite.h
  src/tilemap_layer.cpp
  src/transition.cpp
  src/weather.cpp
  src/window_base.cpp
  src/window_battlestatus.cpp
  src/window_shopparty.cpp
Labels: Bitmaps

#1966 Fix compiler warnings
  bench/bitmap.cpp
  bench/switches.cpp
  bench/variables.cpp
  src/audio_generic.h
  src/audio_sdl.cpp
  src/battle_animation.cpp
  src/battle_animation.h
  src/cache.cpp
  src/game_actor.cpp
  src/game_battle.cpp
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_character.cpp
  src/game_character.h
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/game_interpreter_map.cpp
  src/game_message.cpp
  src/game_party.cpp
  src/game_screen.cpp
  src/game_switches.cpp
  src/game_switches.h
  src/game_variables.cpp
  src/game_variables.h
  src/graphics.cpp
  src/graphics.h
  src/midisynth.h
  src/pending_message.cpp
  src/pixel_format.h
  src/rtp.cpp
  src/scene.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/scene_equip.cpp
  src/scene_file.cpp
  src/scene_file.h
  src/scene_gamebrowser.cpp
  src/scene_gameover.cpp
  src/scene_import.cpp
  src/scene_item.cpp
  src/scene_menu.cpp
  src/sprite_character.cpp
  src/state.h
  src/utils.h
  src/window_shopparty.cpp
  src/window_varlist.cpp
Labels: Building

#2012 Party and System singleton improvements
  src/game_battle.cpp
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_party.cpp
  src/game_party.h
  src/game_player.cpp
  src/game_system.cpp
  src/game_system.h
  src/player.cpp
  src/player.h
  src/scene_map.cpp
  src/scene_menu.cpp
  src/scene_save.cpp
  src/scene_title.cpp
Labels: Refactor, Savegames

#1985 Optimize SDL2 Renderer
  bench/pixel_format.cpp
  src/baseui.h
  src/sdl2_ui.cpp
Labels: Graphics, Performance

#2020 Fix BGM play on load game regression
  src/player.cpp
Labels: Audio, Regression
