Repository EasyRPG/Player, pull requests merged in 2019-11, with the labels that each got.

#1900 Fix Message text and window animation timings - Messages 2 of N
  src/game_map.cpp
  src/game_map.h
  src/game_message.h
  src/scene_map.cpp
  src/window.cpp
  src/window.h
  src/window_message.cpp
  src/window_message.h
Labels: Event/Interpreter

#1933 Fix battle event battle animation crash
  src/game_battle.cpp
  src/spriteset_battle.cpp
Labels: Animations, Battle, Crash

#1940 Add RPG_RT compatible scene delays
  src/player.cpp
  src/scene.cpp
  src/scene.h
  src/scene_end.cpp
  src/scene_gameover.cpp
  src/scene_map.cpp
Labels: Window/Scenes

#1942 Fixes for KeyInputProc, Pan Screen, and Save Games
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/input.cpp
  src/input.h
  src/scene_save.cpp
Labels: Event/Interpreter, Savegames

#1941 Jump fixes
  src/battle_animation.cpp
  src/game_character.cpp
  src/game_character.h
  src/game_vehicle.cpp
  src/game_vehicle.h
Labels: Move Routes

#1947 Transition Random blocks up/down were down/up
  src/game_interpreter.cpp
  src/game_system.cpp
  src/transition.h
Labels: Transitions

#1948 Improved LSD chunks (needs liblcf#347)
  src/game_interpreter.cpp
  src/game_picture.cpp
  src/game_picture.h
Labels: Pictures, Savegames

#1949 Fix picture waver effect
  src/bitmap.cpp
  src/game_picture.cpp
Labels: Pictures, Savegames

#1952 Fix positioning of entire map battle animations
  src/battle_animation.cpp
  src/game_screen.cpp
  src/game_screen.h
Labels: Animations

#1950 Messages block picture commands in < English release engines
  src/game_interpreter.cpp
Labels: Event/Interpreter, Pictures
