Repository EasyRPG/Player, pull requests merged in 2019-03, with the labels that each got.

#1651 BattleAlgorithm: always apply action switches
  src/game_battlealgorithm.cpp
Labels: Battle

#1649 Fix #1631
  src/image_png.cpp
Labels: Bitmaps

#1647 Battle 2k3: Bugfixes
  src/game_actor.cpp
  src/game_battle.cpp
  src/scene_battle_rpg2k3.cpp
  src/window_help.cpp
  src/window_help.h
Labels: Battle

#1657 Change Class: Fix unsetting class (regression fix) and remove all equipment
  src/game_interpreter.cpp
Labels: Event/Interpreter

#1660 Show arrow in equipment scene
  src/window_equipstatus.cpp
Labels: Window/Scenes

#1656 Support EasyRPG Savegame version chunk
  README.md
  src/player.cpp
  src/scene_load.cpp
  src/scene_save.cpp
  src/version.h
Labels: Savegames

#1661 Fixes for horizontal and vertical movement.
  src/game_event.cpp
Labels: Move Routes

#1658 Refactor scene calling
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/scene_map.cpp
Labels: Event/Interpreter

#1670 Android: Set black background
  builds/android/app/build.gradle
  builds/android/app/src/main/res/layout/player_activity.xml
Labels: Android

#1673 Fix: Search Windows Registry for installed RTP
  src/filefinder.cpp
Labels: FileFinder

#1679 Use accurate shake in battle 2k
  src/scene_battle_rpg2k.cpp
Labels: Battle

#1601 Move Route refactors
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_event.h
  src/game_map.cpp
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/sprite_airshipshadow.cpp
  src/sprite_character.cpp
Labels: Event/Interpreter, Move Routes, Refactor

#1686 MorphOS and AmigaOS4 build fix
  builds/amiga/Makefile
  src/system.h
Labels: Building

#1688 Fix vehicle related crash
  src/game_player.cpp
Labels: Crash, Event/Interpreter

#1692 Fix the windowed mode fallback for SDL1.2
  src/sdl_ui.cpp
Labels: UX

#1690 Allow percent_sp feature for all 2k3 versions
  src/game_battler.cpp
Labels: Battle

#1689 Allow player input on same frame move route ends
  src/game_character.cpp
  src/game_event.cpp
  src/game_player.cpp
  src/game_player.h
Labels: Hang, Move Routes

#1695 Correctly render events at negative coordinates in non-looping maps
  src/game_character.cpp
Labels: Event/Interpreter

#1705 Message quick fixes
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/window_message.cpp
Labels: Event/Interpreter

#1712 Spinning events should keep the configured frame
  src/game_event.cpp
Labels: Event/Interpreter

#1700 Fix event screen x and y to match RPG_RT
  src/game_character.cpp
Labels: Event/Interpreter

#1628 Refactor Event Update Ordering
  src/game_character.cpp
  src/game_character.h
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_player.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/player.cpp
  src/scene.cpp
  src/scene.h
  src/scene_map.cpp
  src/scene_map.h
Labels: Event/Interpreter, Refactor
