Repository EasyRPG/Player, pull requests merged in 2020-05, with the labels that each got.

#2188 Amiga build fix
  builds/amiga/Makefile
  builds/amiga/amigaos4/cmath
  src/sdl2_ui.cpp
  src/system.h
Labels: Building

#2112 Refactor Input system - Config 1` of N
  CMakeLists.txt
  Makefile.am
  src/flat_map.h
  src/input.cpp
  src/input.h
  src/input_buttons.h
  src/input_buttons_desktop.cpp
  src/input_source.cpp
  src/input_source.h
  src/keys.h
  src/platform/libretro/libretro_input_buttons.cpp
  src/platform/libretro/libretro_ui.cpp
  src/platform/opendingux/opendingux_input_buttons.cpp
  src/platform/psp/psp_input_buttons.cpp
  src/platform/wii/wii_input_buttons.cpp
  src/player.cpp
  tests/flat_map.cpp
Labels: Refactor, Testcase available, UX

#2193 Reset facing lock flag on event page change
  src/game_event.cpp
Labels: Move Routes

#2158 Fix Variance algorithm for effects
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_interpreter.cpp
Labels: Battle, Event/Interpreter

#2133 Battle 2k3 1: Fix ATB Gauge update algorithm
  src/fps_overlay.cpp
  src/game_battle.cpp
  src/game_battle.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_map.h
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/utils.h
  src/weather.cpp
  src/window_base.cpp
  src/window_battlestatus.cpp
Labels: Battle

#2213 States were incorrectly removed when the battle ended (regression)
  src/game_battler.cpp
  src/state.cpp
  src/state.h
Labels: Battle, Regression

#2215 Fix Physical attack to hit algorithm + class EXP + crit flash
  src/game_actor.cpp
  src/game_battlealgorithm.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle, backport to stable

#2209 Sprite: Don't reset bitmap_changed state when off screen
  src/sprite.cpp
Labels: Drawables, backport to stable

#2214 Scene_Debug: Regression fixes
  src/scene_debug.cpp
Labels: Regression, Window/Scenes, backport to stable

#2212 Add support for async message ops - Fix broken inn sequence
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_map.cpp
  src/game_map.h
  src/game_message.cpp
  src/game_message.h
  src/pending_message.h
  src/scene_map.cpp
  src/scene_map.h
  src/window_message.cpp
  src/window_message.h
Labels: Async, Messages, Regression, backport to stable

#2211 Fix accuracy bugs in picture rotation algorithm
  src/game_pictures.cpp
  src/game_pictures.h
Labels: Pictures

#2026 Improve Window_Message timing accuracy - Messages 6 of N
  src/game_interpreter.cpp
  src/game_message.cpp
  src/game_message.h
  src/scene_battle.cpp
  src/scene_map.cpp
  src/sprite_timer.cpp
  src/window_message.cpp
  src/window_message.h
Labels: Event/Interpreter, Messages, Testcase available

#2222 Fix distribution archive and check
  Makefile.am
  configure.ac
Labels: Building, backport to stable

#2232 Fix unit tests on macos
  tests/rtp.cpp
Labels: Building, backport to stable
