Repository EasyRPG/Player, pull requests merged in 2020-12, with the labels that each got.

#2423 Update Emscripten shell with ES6 flavour, icon, fixes and more
  README.md
  resources/emscripten/emscripten-post.js
  resources/emscripten/emscripten-pre.js
  resources/emscripten/emscripten-shell.html
Labels: HTML5

#2397 Implement (most of) Ineluki Key Patch
  CMakeLists.txt
  Makefile.am
  src/filefinder.cpp
  src/filefinder.h
  src/game_ineluki.cpp
  src/game_ineluki.h
  src/game_interpreter.cpp
  src/game_system.cpp
  src/game_system.h
  src/input.cpp
  src/input.h
  src/input_source.cpp
  src/input_source.h
  src/main_data.cpp
  src/main_data.h
  src/player.cpp
  src/scene_logo.cpp
  src/scene_title.cpp
  src/sdl2_ui.cpp
Labels: RPG_RT Patches

#2429 Unset system2_name on game exit
  src/cache.cpp
Labels: Battle

#2426 Add touch input support for web shell
  resources/emscripten/emscripten-post.js
  resources/emscripten/emscripten-pre.js
  resources/emscripten/emscripten-shell.html
Labels: Enhancement, HTML5

#2428 Change random movement behavior
  src/game_event.cpp
Labels: Move Routes

#2287 Initial Work on Using Translations Via LcfTrans
  CMakeLists.txt
  Makefile.am
  src/filefinder.cpp
  src/game_map.cpp
  src/meta.cpp
  src/meta.h
  src/player.cpp
  src/player.h
  src/scene_title.cpp
  src/scene_title.h
  src/translation.cpp
  src/translation.h
  src/window_selectable.cpp
  src/window_selectable.h
Labels: Enhancement
