Repository EasyRPG/Player, pull requests merged in 2020-09, with the labels that each got.

#2271 Fix for games with altered file extensions
  CMakeLists.txt
  Makefile.am
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameScanner.java
  resources/shared/easyrpg.ini
  src/fileext_guesser.cpp
  src/fileext_guesser.h
  src/filefinder.cpp
  src/filefinder.h
  src/game_map.cpp
  src/game_map.h
  src/meta.cpp
  src/meta.h
  src/options.h
  src/platform/libretro/libretro_ui.cpp
  src/player.cpp
  src/player.h
Labels: FileFinder, RPG_RT Patches

#2305 Fluidsynth: Fix low audio samplerate and buildfix for v1.1.11
  src/audio_decoder.cpp
  src/audio_midi.cpp
  src/audio_resampler.cpp
  src/audio_sdl_mixer.cpp
  src/audio_secache.cpp
  src/decoder_fluidsynth.cpp
Labels: Audio, MIDI

#2318 Add support for DBBitArray
  src/game_actor.cpp
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_map.cpp
Labels: Performance

#2309 Battle 2k: When selecting a previous actor remove "NoMove" actions of dead actors
  src/scene_battle_rpg2k.cpp
Labels: Battle, backport to stable

#2315 Minor accuracy adjustments for weather colors
  src/weather.cpp
Labels: Weather, backport to stable

#2324 Compiler warning fixes
  src/filefinder.cpp
  src/game_interpreter.cpp
  src/game_variables.cpp
  src/game_variables.h
  src/scene_debug.cpp
  src/weather.cpp
Labels: Building

#2310 Battle 2k3: Add support for flipped battle animations
  src/battle_animation.cpp
  src/battle_animation.h
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_system.cpp
  src/game_system.h
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle

#2312 Battle algorithm changes
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
Labels: Battle

#2321 Battle 2k3: Implement battle row damage and accuracy modifiers
  src/game_battlealgorithm.cpp
Labels: Battle

#2323 Fix HSL to RGB overflow error
  src/bitmap_hslrgb.h
  src/scene_battle_rpg2k3.cpp
Labels: Graphics

#2322 Battle 2k3: Implement in-battle row command
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle

#2333 Battle: Fix output text of item drops
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#2334 Add explicit StringView() on game_battlealgorithm ternary expressions
  src/game_battlealgorithm.cpp
Labels: Battle

#2320 Refactor Battle Algorithm effect and hit rate calculations
  CMakeLists.txt
  Makefile.am
  src/algo.cpp
  src/algo.h
  src/attribute.cpp
  src/attribute.h
  src/game_actor.cpp
  src/game_actor.h
  src/game_actors.cpp
  src/game_actors.h
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_enemyparty.cpp
  src/game_enemyparty.h
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/game_party.cpp
  src/main_data.cpp
  src/main_data.h
  src/output.cpp
  src/output.h
  src/pending_message.cpp
  src/player.cpp
  src/scene_name.cpp
  src/scene_save.cpp
  src/spriteset_battle.cpp
  src/window_actorinfo.cpp
  src/window_actorstatus.cpp
  src/window_battlecommand.cpp
  src/window_equip.cpp
  src/window_equipitem.cpp
  src/window_equipstatus.cpp
  src/window_face.cpp
  src/window_paramstatus.cpp
  src/window_skill.cpp
  src/window_skillstatus.cpp
  tests/algo.cpp
  tests/attribute.cpp
  tests/game_actor.cpp
  tests/game_enemy.cpp
  tests/parse.cpp
  tests/test_mock_actor.h
Labels: Battle, Refactor, Tests

#2311 Fade BGM on new game and load game
  src/player.cpp
  src/scene_end.cpp
Labels: Audio, UX

#2332 Fix enemy default state rank
  src/game_enemy.cpp
Labels: Battle

#2344 CMake: Move BUILD_SHARED_LIBS back to the top
  CMakeLists.txt
Labels: Building, Regression

#2336 Remove SaveSystem Setup and Fixup - depends on liblcf #396
  src/game_interpreter.cpp
  src/game_switches.cpp
  src/game_switches.h
  src/game_system.cpp
  src/game_system.h
  src/game_variables.cpp
  src/game_variables.h
  src/player.cpp
  src/weather.cpp
Labels: Savegames

#2343 States: Damage and recovery is rounded down instead of up
  src/game_battler.cpp
Labels: Battle, backport to stable

#2346 Battle 2k3: Fix animation playing on original targets
  src/game_battlealgorithm.cpp
Labels: Battle

#2208 Refactor Game_Character classes + add move route test suite
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_message.cpp
  src/game_message.h
  src/game_party.cpp
  src/game_pictures.cpp
  src/game_pictures.h
  src/game_player.cpp
  src/game_player.h
  src/game_screen.cpp
  src/game_screen.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/input.cpp
  src/pending_message.h
  src/player.cpp
  src/scene.cpp
  src/scene.h
  src/scene_item.cpp
  src/scene_save.cpp
  src/scene_skill.cpp
  src/scene_teleport.cpp
  src/sprite_character.cpp
  src/tilemap_layer.cpp
  src/utils.h
  tests/game_character.cpp
  tests/game_character_anim.cpp
  tests/game_character_flash.cpp
  tests/game_character_move.cpp
  tests/game_character_moveto.cpp
  tests/game_event.cpp
  tests/game_player_input.cpp
  tests/game_player_pan.cpp
  tests/game_player_savecount.cpp
  tests/mock_game.cpp
  tests/mock_game.h
  tests/move_route.cpp
  tests/test_move_route.h
Labels: Event/Interpreter, Move Routes, Refactor, Savegames, Tests

#2326 Add Rand::API + allow locking the RNG
  CMakeLists.txt
  Makefile.am
  src/algo.cpp
  src/async_handler.cpp
  src/game_actor.cpp
  src/game_battle.cpp
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_character.cpp
  src/game_enemy.cpp
  src/game_enemyparty.cpp
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_party_base.cpp
  src/game_player.cpp
  src/game_screen.cpp
  src/game_variables.cpp
  src/player.cpp
  src/rand.cpp
  src/rand.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/transition.cpp
  src/utils.cpp
  src/utils.h
  src/weather.cpp
  tests/algo.cpp
  tests/game_character.cpp
  tests/rand.cpp
Labels: Refactor, Tests

#2329 Battle 2k3: Add negative attribute modifiers and allow state infliction by skills outside of battles
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
Labels: Battle, Refactor

#2350 States: Allow states simultaneously with death
  src/game_battlealgorithm.cpp
  src/state.cpp
Labels: Battle

#2351 Battle: Absorb only HP if the target gets killed by the absorption
  src/game_battlealgorithm.cpp
Labels: Battle

#2339 Remove SaveActor Fixup and Setup - depends on liblcf #399
  src/game_actor.cpp
  src/game_actor.h
  src/game_party.cpp
  src/game_party.h
  src/player.cpp
  src/player.h
  src/scene_battle.cpp
  src/scene_save.cpp
  src/scene_title.cpp
  src/scene_title.h
Labels: Refactor, Savegames

#2365 Fix level up message
  src/game_actor.cpp
Labels: Regression, Window/Scenes

#2360 Implement ATB active mode
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#2366 Fix build on 3DS and Vita
  src/algo.cpp
  src/game_battlealgorithm.cpp
Labels: Building

#2313 UI changes (1/2)
  src/window_item.cpp
  src/window_selectable.cpp
  src/window_shopbuy.cpp
  src/window_shopparty.cpp
  src/window_skill.cpp
Labels: UX, Window/Scenes

#2359 Allow Haiku build
  src/platform.cpp
Labels: Building, backport to stable
