Repository EasyRPG/Player, pull requests merged in 2020-06, with the labels that each got.

#2231 Use fmtlib core.h instead of format.h in Output logging.
  src/output.h
Labels: Building

#2238 Vita fix and lcf cleanup
  .gitignore
  builds/3ds/Makefile
  builds/amiga/Makefile
  builds/android/app/src/main/jni/deps/Android.mk
  builds/opendingux/Makefile
  builds/opendingux/dingoo/run.sh
  builds/psvita/Makefile
  builds/switch/Makefile
  builds/wii/Makefile
Labels: Building

#2227 Picture save game fixes + variable fix
  src/game_interpreter.cpp
  src/game_pictures.cpp
Labels: Event/Interpreter, Pictures, Regression, Savegames, backport to stable

#2239 Allow debug flag from gamebrowser
  src/scene_gamebrowser.cpp
  src/scene_gamebrowser.h
Labels: Enhancement, Window/Scenes

#2210 Scene_Debug: refactor + call map and battle events
  src/game_battle.cpp
  src/game_battle.h
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_map.cpp
  src/game_map.h
  src/game_variables.cpp
  src/game_variables.h
  src/scene_debug.cpp
  src/scene_debug.h
  src/window_varlist.cpp
  src/window_varlist.h
Labels: Refactor, Window/Scenes

#2242 Autotools cleanup
  .gitignore
  Makefile.am
  builds/autoconf/m4/with_pkg.m4
  configure.ac
Labels: Building

#2243 Mac: create app bundle, use OpenGL SDL renderer
  .gitignore
  builds/macos/package_app.sh
  resources/osx/Info.plist
  resources/osx/Player.icns
  src/sdl2_ui.cpp
Labels: macOS

#2118 Implement Ticks for: libsndfile, FmMidi, Wildmidi (kinda)
  src/decoder_fmmidi.cpp
  src/decoder_fmmidi.h
  src/decoder_libsndfile.cpp
  src/decoder_libsndfile.h
  src/decoder_wav.cpp
  src/decoder_wav.h
  src/decoder_wildmidi.cpp
  src/decoder_wildmidi.h
  src/midisequencer.cpp
  src/midisequencer.h
Labels: Audio, MIDI

#2245 FmMidi: naive harmony-like loop support
  src/decoder_fmmidi.cpp
  src/decoder_fmmidi.h
  src/midisequencer.cpp
  src/midisequencer.h
Labels: Audio, MIDI

#2247 Fix constexpr compilation in Game_Character
  src/game_character.h
Labels: Building

#2249 Mac: cmake .app support, use NSBundle for finding app dir
  .gitignore
  CMakeLists.txt
  Makefile.am
  configure.ac
  src/main_data.cpp
  src/platform/macos/utils.h
  src/platform/macos/utils.mm
  src/sdl2_ui.cpp
  src/system.h
Labels: Building, macOS

#2217 Transitions - wait for graphics loading if screen erased - dependency for battle2k3 PRs
  src/async_handler.cpp
  src/graphics.cpp
  src/player.cpp
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_map.cpp
  src/scene_map.h
  src/transition.cpp
  src/transition.h
Labels: Async, Transitions

#2254 Properly check Teleport Targets on add/remove
  src/game_targets.cpp
Labels: Regression, Teleports, backport to stable

#2257 Android : sort the game list alphabetically
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameInformation.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameScanner.java
Labels: Android, UX
