Repository EasyRPG/Player, pull requests merged in 2020-10, with the labels that each got.

#2368 testrunner: Force console on Windows
  CMakeLists.txt
Labels: Tests, Win32

#2349 Actor parameter cleanups / optimizations - prep for battle algo refactor
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/game_party.cpp
  src/game_player.cpp
  tests/game_actor.cpp
  tests/game_enemy.cpp
Labels: Battle

#2373 Skills which targets allies ignore hidden targets
  src/game_battlealgorithm.cpp
Labels: Battle

#2370 Add lethal flag in ChangeMonsterHP event command
  src/game_interpreter_battle.cpp
Labels: Battle

#2375 Shop window: Fix item price position regression from #2313
  src/window_shopbuy.cpp
Labels: Window/Scenes

#2301 Input Recording v2
  src/dynrpg.h
  src/game_map.cpp
  src/input.cpp
  src/input.h
  src/input_source.cpp
  src/input_source.h
  src/meta.cpp
  src/player.cpp
  src/player.h
  src/utils.cpp
  src/utils.h
Labels: Enhancement, Tests

#2379 Add left and right arrow support to window classes
  src/scene_debug.cpp
  src/scene_debug.h
  src/window.cpp
  src/window.h
Labels: Enhancement, Window/Scenes

#2382 Battle 2k3: Process enemy actions first
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#2358 Remove SaveMapInfo Setup and Fixup - depends on liblcf #403
  src/game_map.cpp
  src/game_map.h
  src/scene_save.cpp
  src/sprite_character.cpp
Labels: Refactor

#2331 Implement auto battle
  CMakeLists.txt
  Makefile.am
  resources/easyrpg-player.6.adoc
  resources/unix/bash-completion/easyrpg-player
  src/algo.cpp
  src/algo.h
  src/autobattle.cpp
  src/autobattle.h
  src/cmdline_parser.cpp
  src/cmdline_parser.h
  src/config_param.h
  src/dynrpg.cpp
  src/game_actor.cpp
  src/game_battler.cpp
  src/game_config.cpp
  src/game_config.h
  src/player.cpp
  src/player.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/utils.cpp
  src/utils.h
  tests/algo.cpp
  tests/autobattle.cpp
  tests/utils.cpp
Labels: Battle

#2261 Android: Migrate to AndroidX
  builds/android/app/build.gradle
  builds/android/app/src/main/AndroidManifest.xml
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/ButtonMappingActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsAudioActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsGamesFoldersActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsInputActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsMainActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsVideoActivity.java
  builds/android/app/src/main/jni/gamebrowser/org_easyrpg_player_game_browser_GameScanner.cpp
  builds/android/app/src/main/res/layout/activity_settings_inputs.xml
  builds/android/app/src/main/res/layout/browser_activity.xml
  builds/android/app/src/main/res/layout/browser_app_bar.xml
  builds/android/app/src/main/res/layout/browser_error_text.xml
  builds/android/app/src/main/res/layout/browser_game_card_landscape.xml
  builds/android/app/src/main/res/layout/browser_game_card_portrait.xml
  builds/android/app/src/main/res/layout/browser_games_grid.xml
  builds/android/app/src/main/res/layout/button_mapping_activity.xml
  builds/android/app/src/main/res/layout/player_activity.xml
  builds/android/build.gradle
  builds/android/gradle.properties
  builds/android/gradle/wrapper/gradle-wrapper.properties
Labels: Android, Building, Crash

#2385 Cancel battle action if getting restriction state added by an event
  src/game_battler.cpp
Labels: Battle

#2387 Remove SpriteTimer::Update
  src/sprite_timer.cpp
  src/sprite_timer.h
  src/spriteset_battle.cpp
  src/spriteset_map.cpp
Labels: Drawables

#2372 Battle 2k: Fix monster sprite display on revival
  src/scene_battle_rpg2k.cpp
Labels: Battle

#2390 Fix crash in Scene_GameBrowser
  src/scene_gamebrowser.cpp
Labels: Crash, Regression

#2380 Refactor Skill and Item usability and fix some incompatibilities
  src/algo.cpp
  src/algo.h
  src/game_actor.cpp
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_party.cpp
  src/scene_battle.cpp
  src/scene_skill.cpp
  src/window_skill.cpp
Labels: Battle, Refactor

#2393 Spriteset_Battle: Encapsulate refresh flag into spriteset
  src/game_battle.cpp
  src/spriteset_battle.cpp
  src/spriteset_battle.h
Labels: Battle

#2364 Battle 2k3: Add battle start message and frame delays
  src/game_battlealgorithm.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle

#2383 Battle 2k3: Add run away animation on escape
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#1729 AsyncHandler: Normalize file requests
  src/async_handler.cpp
Labels: HTML5

#2403 Fix unit tests
  tests/parse.cpp
Labels: Building

#2407 Use new CBA chunk names - liblcf #406
  src/sprite_battler.cpp
Labels: Battle

#2381 Refactor Enemy AI
  CMakeLists.txt
  Makefile.am
  resources/easyrpg-player.6.adoc
  resources/unix/bash-completion/easyrpg-player
  src/algo.cpp
  src/algo.h
  src/autobattle.cpp
  src/enemyai.cpp
  src/enemyai.h
  src/game_battlealgorithm.cpp
  src/game_config.cpp
  src/game_config.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_party.cpp
  src/player.cpp
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  tests/algo.cpp
  tests/enemyai.cpp
  tests/test_mock_actor.h
Labels: Battle

#2398 CMake: Install bash-completion and add man and doxygen status message
  CMakeLists.txt
Labels: Building

#2410 Fix newlib build after enemyai PR + warning fix
  src/async_handler.cpp
  src/enemyai.cpp
Labels: Building
