Repository EasyRPG/Player, pull requests merged in 2020-01, with the labels that each got.

#2008 Filefinder: Move macro hell into new platform class, fix PSVita build
  CMakeLists.txt
  Makefile.am
  src/filefinder.cpp
  src/filefinder.h
  src/platform.cpp
  src/platform.h
  tests/platform.cpp
  tests/platform/1kb
  tests/platform/empty
  tests/platform/folder/.gitkeep
Labels: FileFinder, Refactor, Tests

#2033 Update tile sprite events when chipset changes
  src/sprite_character.cpp
  src/sprite_character.h
  src/spriteset_map.cpp
Labels: Bitmaps

#2034 Fix save window when party members have no face graphic
  src/scene_file.cpp
  src/window_savefile.cpp
  src/window_savefile.h
Labels: Savegames

#2032 Fix actor transparency
  src/game_actor.cpp
  src/game_actor.h
  src/game_party.cpp
  src/game_party.h
  src/game_player.cpp
Labels: Event/Interpreter

#2031 Support BITMAPCOREHEADER for bmp format
  src/image_bmp.cpp
Labels: Bitmaps

#2004 Rain, Snow, Screen, Bitmap, and Animations improvements
  src/background.cpp
  src/battle_animation.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/game_battler.cpp
  src/game_map.cpp
  src/game_picture.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/plane.cpp
  src/spriteset_map.cpp
  src/spriteset_map.h
  src/weather.cpp
  src/weather.h
Labels: Animations, Bitmaps, Color/Tone/Flash, Drawables, Performance, Weather

#2024 Fix reload title cache behavior
  src/player.cpp
  src/scene_import.cpp
  src/scene_load.cpp
  src/scene_title.cpp
  src/scene_title.h
Labels: Savegames, Window/Scenes

#2037 Fix newlib build
  src/image_bmp.cpp
Labels: Building

#2011 Implement Sandstorm particles
  src/game_screen.cpp
  src/game_screen.h
  src/weather.cpp
  src/weather.h
Labels: Weather

#1956 Refactor param parsing methods + use utf8 + level up msg fix - Messages 4 of N
  Makefile.am
  src/game_actor.cpp
  src/game_actor.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_message.cpp
  src/game_message.h
  src/game_party.cpp
  src/pending_message.cpp
  src/pending_message.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/window_message.cpp
  src/window_message.h
  tests/parse.cpp
Labels: Performance, Refactor, Tests, Window/Scenes

#2027 Fix 2k3 class change + Face graphic fixes
  src/compiler.h
  src/game_actor.cpp
  src/game_actor.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/pending_message.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/window_actortarget.cpp
  src/window_base.cpp
  src/window_base.h
  src/window_battlestatus.cpp
  src/window_menustatus.cpp
  src/window_message.cpp
  src/window_message.h
  src/window_skillstatus.cpp
Labels: Event/Interpreter

#1917 Preparations for new emscripten backend
  resources/emscripten/emscripten-post.js
  resources/emscripten/emscripten-pre.js
  src/async_handler.cpp
  src/player.cpp
  src/scene.h
  src/sdl2_ui.cpp
Labels: HTML5

#1989 Refactor and optimize Game_Picture + Wave fix - Bitmaps 2 of N
  bench/bitmap.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/game_interpreter.cpp
  src/game_picture.cpp
  src/game_picture.h
  src/game_screen.cpp
  src/game_screen.h
  src/scene_map.cpp
  src/scene_save.cpp
Labels: Bitmaps, Performance, Pictures, Refactor

#2022 Cleanup Shake and Flash logic
  CMakeLists.txt
  Makefile.am
  src/battle_animation.cpp
  src/color.h
  src/flash.h
  src/game_battle.cpp
  src/game_battle.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_character.cpp
  src/game_character.h
  src/game_picture.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/shake.h
  src/sprite.cpp
  src/sprite.h
  src/sprite_airshipshadow.cpp
  src/sprite_battler.cpp
  src/sprite_battler.h
  src/sprite_character.cpp
Labels: Battle, Color/Tone/Flash, Refactor, Regression

#2003 Implement Pictures and Weather in Battle
  src/game_battle.cpp
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_picture.cpp
  src/game_picture.h
  src/game_screen.cpp
  src/game_screen.h
  src/scene_battle.cpp
  src/scene_map.cpp
  src/scene_save.cpp
Labels: Battle, Pictures, Weather

#2041 Handle teleports run by foreground events in preupdate
  src/scene_map.cpp
Labels: Event/Interpreter, Teleports

#1867 Refactor scene initialization and continuations - Game_Temp 1 of 2
  src/battle_animation.cpp
  src/game_actor.cpp
  src/game_battle.cpp
  src/game_battle.h
  src/game_battler.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_message.cpp
  src/game_party.cpp
  src/game_player.cpp
  src/game_temp.cpp
  src/game_temp.h
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/scene.h
  src/scene_battle.cpp
  src/scene_debug.cpp
  src/scene_import.cpp
  src/scene_load.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/scene_name.cpp
  src/scene_name.h
  src/scene_shop.cpp
  src/scene_shop.h
  src/scene_title.cpp
  src/sprite_timer.cpp
  src/window_item.cpp
  src/window_message.cpp
  src/window_shop.cpp
  src/window_shop.h
  src/window_shopbuy.cpp
  src/window_shopbuy.h
  src/window_skill.cpp
Labels: Event/Interpreter, Refactor

#2021 Small Enchancements + VTune - Main Loop 1 of N
  CMakeLists.txt
  Makefile.am
  builds/cmake/Modules/FindVTune.cmake
  resources/easyrpg-player.6.adoc
  resources/unix/bash-completion/easyrpg-player
  src/async_handler.cpp
  src/baseui.cpp
  src/baseui.h
  src/fps_overlay.cpp
  src/game_interpreter.cpp
  src/game_player.cpp
  src/game_system.cpp
  src/game_system.h
  src/graphics.cpp
  src/graphics.h
  src/input.cpp
  src/instrumentation.cpp
  src/instrumentation.h
  src/message_overlay.cpp
  src/output.cpp
  src/player.cpp
  src/player.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_equip.cpp
  src/scene_gameover.cpp
  src/scene_import.cpp
  src/scene_item.cpp
  src/scene_logo.cpp
  src/scene_logo.h
  src/scene_map.cpp
  src/scene_map.h
  src/scene_menu.cpp
  src/scene_skill.cpp
  src/scene_teleport.cpp
  src/scene_title.cpp
  src/sprite.cpp
  src/tilemap_layer.cpp
  src/transition.h
  src/window_menustatus.cpp
Labels: Performance, Refactor, Transitions

#2051 Fix crash when picture loading races with vector resize
  src/game_picture.cpp
Labels: Async, Crash, Pictures

#1990 Minor Blitting optimizations - Bitmaps 3 of N
  bench/bitmap.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/cache.cpp
  src/game_screen.cpp
  src/pending_message.cpp
Labels: Bitmaps, Performance

#2053 Fix crash when loading save games with pictures
  src/game_picture.cpp
  src/game_picture.h
  src/game_screen.cpp
Labels: Async, Crash, Pictures, Regression, Savegames

#2054 Fix transition chunks defaults
  src/game_system.cpp
Labels: Savegames, Transitions

#2047 Implement asynchronous vehicle teleports + Bgm fixes + Choice fix
  src/async_op.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_map.cpp
  src/game_player.cpp
  src/game_player.h
  src/player.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/scene_title.cpp
  src/teleport_target.h
Labels: Async, Audio, Event/Interpreter, Messages, Teleports, Window/Scenes

#2056 Refactor Game_Targets
  src/game_battler.cpp
  src/game_interpreter.cpp
  src/game_party.cpp
  src/game_targets.cpp
  src/game_targets.h
  src/main_data.cpp
  src/main_data.h
  src/player.cpp
  src/scene_item.cpp
  src/scene_save.cpp
  src/scene_skill.cpp
  src/window_teleport.cpp
Labels: Savegames, Teleports
