Repository EasyRPG/Player, pull requests merged in 2020-07, with the labels that each got.

#2265 Yume2kki: Fix tilemap assert on Map 196
  src/bitmap.h
  src/opacity.h
  src/scene_debug.cpp
Labels: Crash, Regression, backport to stable

#2142 Battle 2k3 2: Implement 2k3 battler placement
  CMakeLists.txt
  Makefile.am
  src/battle_animation.cpp
  src/game_actor.cpp
  src/game_actor.h
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_enemyparty.cpp
  src/game_enemyparty.h
  src/game_party.cpp
  src/game_party.h
  src/game_party_base.h
  src/point.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/sprite_battler.cpp
  src/sprite_battler.h
  src/spriteset_battle.cpp
  src/spriteset_battle.h
  src/window_base.cpp
Labels: Battle

#2270 Allow building with libfmt older than 5.3
  CMakeLists.txt
  configure.ac
Labels: Building
