Repository EasyRPG/Player, pull requests merged in 2020-02, with the labels that each got.

#2052 Refactor Drawable transfer + visible + bitmap bug fix
  bench/draw.cpp
  src/background.cpp
  src/background.h
  src/battle_animation.cpp
  src/bitmap.cpp
  src/drawable.cpp
  src/drawable.h
  src/drawable_list.cpp
  src/fps_overlay.cpp
  src/frame.cpp
  src/game_battle.cpp
  src/game_message.cpp
  src/game_picture.cpp
  src/game_picture.h
  src/game_quit.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/message_overlay.cpp
  src/plane.cpp
  src/plane.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_import.cpp
  src/scene_map.cpp
  src/screen.cpp
  src/sprite.cpp
  src/sprite.h
  src/sprite_battler.cpp
  src/sprite_battler.h
  src/sprite_character.cpp
  src/sprite_timer.cpp
  src/tilemap.cpp
  src/tilemap.h
  src/tilemap_layer.cpp
  src/tilemap_layer.h
  src/transition.cpp
  src/weather.cpp
  src/window.cpp
  src/window.h
  src/window_base.cpp
  src/window_base.h
  src/window_battlemessage.cpp
  src/window_help.cpp
  src/window_help.h
  src/window_message.cpp
  tests/drawable_list.cpp
  tests/drawable_mgr.cpp
Labels: Bitmaps, Drawables, Pictures, Regression, Weather

#1973 Refactor Time and Sleep - MainLoop 2 of N
  CMakeLists.txt
  Makefile.am
  src/3ds_ui.cpp
  src/3ds_ui.h
  src/audio.cpp
  src/audio.h
  src/audio_3ds.cpp
  src/audio_3ds.h
  src/audio_al.cpp
  src/audio_al.h
  src/audio_generic.cpp
  src/audio_generic.h
  src/audio_libretro.cpp
  src/audio_sdl_mixer.cpp
  src/audio_sdl_mixer.h
  src/audio_secache.cpp
  src/audio_secache.h
  src/baseui.h
  src/cache.cpp
  src/game_clock.cpp
  src/game_clock.h
  src/game_interpreter.cpp
  src/graphics.cpp
  src/graphics.h
  src/libretro_ui.cpp
  src/libretro_ui.h
  src/output.cpp
  src/player.cpp
  src/player.h
  src/psp2_ui.cpp
  src/psp2_ui.h
  src/scene_gamebrowser.cpp
  src/scene_map.cpp
  src/sdl2_ui.cpp
  src/sdl2_ui.h
  src/sdl_ui.cpp
  src/sdl_ui.h
  src/switch_ui.cpp
  src/switch_ui.h
Labels: 3DS, PSVita, Refactor, Switch

#2055 Refactor Pictures
  CMakeLists.txt
  Makefile.am
  src/background.cpp
  src/battle_animation.cpp
  src/game_battle.cpp
  src/game_battler.cpp
  src/game_character.cpp
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_pictures.cpp
  src/game_pictures.h
  src/game_player.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/main_data.cpp
  src/main_data.h
  src/meta.cpp
  src/plane.cpp
  src/player.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_equip.cpp
  src/scene_file.h
  src/scene_import.cpp
  src/scene_load.cpp
  src/scene_logo.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/scene_save.cpp
  src/scene_title.cpp
  src/spriteset_battle.cpp
  src/spriteset_map.cpp
Labels: Pictures, Savegames, Weather

#2060 Small fixes for 3DS and warnings
  src/decoder_oggvorbis.cpp
  src/decoder_oggvorbis.h
  src/filefinder.cpp
  src/game_clock.cpp
  src/platform.cpp
  src/player.cpp
  tests/platform.cpp
Labels: 3DS, Building, Tests, macOS

#2025 Refactor battle init and end - Remove Game_Temp 2 of 2
  CMakeLists.txt
  Makefile.am
  src/async_op.h
  src/game_actor.cpp
  src/game_battle.cpp
  src/game_battle.h
  src/game_battler.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_temp.cpp
  src/game_temp.h
  src/player.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/scene_debug.cpp
  src/scene_map.cpp
  src/scene_menu.cpp
  src/scene_title.cpp
  src/spriteset_battle.cpp
  src/spriteset_battle.h
  src/window_battleoption.cpp
  src/window_battleoption.h
Labels: Battle, Event/Interpreter, Refactor

#1964 Refactor Text Rendering stack - Messages 5 of N
  Makefile.am
  bench/font.cpp
  bench/text.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/font.cpp
  src/font.h
  src/game_message.cpp
  src/output.cpp
  src/pending_message.cpp
  src/player.cpp
  src/text.cpp
  src/text.h
  src/utils.cpp
  src/utils.h
  src/window_battlestatus.cpp
  src/window_message.cpp
  src/window_message.h
  tests/font.cpp
  tests/text.cpp
  tests/utf.cpp
Labels: Messages, Performance, Refactor, Tests

#2050 Cleanup main loop - MainLoop 3 of N
  src/graphics.cpp
  src/player.cpp
  src/player.h
  src/scene.cpp
Labels: Refactor, Transitions

#2065 Use SFINAE for d_type detection - fix OSX and BSD
  src/platform.cpp
  src/weather.cpp
  tests/platform.cpp
Labels: Building, Tests

#1916 Speedup Startup + RTP detection
  src/filefinder.cpp
  src/registry_wine.cpp
  src/utils.cpp
  src/utils.h
  tests/utils.cpp
Labels: Performance

#2071 Fixes of fixes.
  src/filefinder.cpp
  src/platform.cpp
Labels: 3DS, Building
