Repository EasyRPG/Player, pull requests merged in 2020-08, with the labels that each got.

#2272 Fix "man" target not working properly with out-of-source builds
  CMakeLists.txt
Labels: Building

#2108 Add Game_Config + CmdlineParser + video options - Config 2 of N
  CMakeLists.txt
  Makefile.am
  builds/android/app/src/main/jni/src/org_easyrpg_player_player_EasyRpgPlayerActivity.cpp
  src/baseui.cpp
  src/baseui.h
  src/cmdline_parser.cpp
  src/cmdline_parser.h
  src/config_param.h
  src/game_config.cpp
  src/game_config.h
  src/game_config_data.h
  src/graphics.cpp
  src/options.h
  src/platform/3ds/3ds_ui.cpp
  src/platform/3ds/3ds_ui.h
  src/platform/libretro/libretro_ui.cpp
  src/platform/libretro/libretro_ui.h
  src/platform/psvita/psp2_ui.cpp
  src/platform/psvita/psp2_ui.h
  src/platform/switch/switch_ui.cpp
  src/platform/switch/switch_ui.h
  src/player.cpp
  src/player.h
  src/sdl2_ui.cpp
  src/sdl2_ui.h
  src/sdl_ui.cpp
  src/sdl_ui.h
  src/utils.cpp
  src/utils.h
  tests/cmdline_parser.cpp
  tests/config_param.cpp
  tests/utils.cpp
Labels: Video

#2220 Pictures and Screen: optimize and remove UpdateGraphics() method + fix debug battle pics / weather
  CMakeLists.txt
  Makefile.am
  src/game_battle.cpp
  src/game_pictures.cpp
  src/game_pictures.h
  src/game_screen.cpp
  src/game_screen.h
  src/scene.cpp
  src/scene.h
  src/scene_battle.cpp
  src/scene_map.cpp
  src/sprite.cpp
  src/sprite.h
  src/sprite_picture.cpp
  src/sprite_picture.h
  src/weather.cpp
Labels: Battle, Drawables, Performance, Pictures, Weather

#2274 Add if()s around circular find_package() calls
  builds/cmake/Modules/FindFreetype.cmake
  builds/cmake/Modules/FindHarfbuzz.cmake
Labels: Building, backport to stable

#2277 Filesystem [1.5/N]: Fixes & Updates
  src/game_config.cpp
  src/platform/3ds/3ds_audio.cpp
Labels: 3DS, FileFinder

#2290 Block key input processing while message is active
  src/game_interpreter.cpp
Labels: Event/Interpreter, backport to stable

#2291 Change Warning to Debug on SE playback failure
  src/audio_generic.cpp
  src/audio_sdl_mixer.cpp
Labels: Audio, UX, backport to stable

#2283 Warn when DynRPG or ManiacPatch are detected
  src/game_pictures.cpp
  src/player.cpp
  src/player.h
Labels: RPG_RT Patches, backport to stable

#2292 Fix Niwatori benchmark
  src/game_interpreter.cpp
  src/plane.cpp
Labels: RPG_RT Patches, Regression, backport to stable

#2296 Fix CmdLine Parser: Crashes when argc was 0
  src/cmdline_parser.cpp
  src/player.cpp
  tests/cmdline_parser.cpp
Labels: Crash, Regression, Wii

#2295 Spell reflect fix
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle, backport to stable

#2304 Fix self-target skills outside of battles
  AUTHORS.md
  src/scene_actortarget.cpp
  src/window_actortarget.cpp
Labels: Window/Scenes, backport to stable

#2253 Add Emscripten support to CMake
  CMakeLists.txt
  configure.ac
  resources/emscripten/emscripten-post.js
  resources/emscripten/emscripten-shell.html
  src/player.cpp
  src/scene_logo.cpp
  src/sdl2_ui.cpp
  tests/cmdline_parser.cpp
  tests/config_param.cpp
  tests/directorytree.cpp
  tests/filefinder.cpp
  tests/platform.cpp
  tests/rtp.cpp
Labels: Building, HTML5, backport to stable

#2308 Fix healing display in RPG Maker 2003 battles
  src/game_battlealgorithm.cpp
Labels: Battle, backport to stable

#2307 Backport emscripten-core/emscripten#7631 for focus on iframes
  CMakeLists.txt
  resources/emscripten/emscripten-shell.html
Labels: HTML5, UX, backport to stable

#2298 Save game compatibility fixes for regtesting
  src/scene.cpp
  src/scene.h
  src/scene_load.cpp
  src/scene_save.cpp
  src/scene_save.h
Labels: Savegames
