Repository EasyRPG/Player, pull requests merged in 2020-04, with the labels that each got.

#2091 Use custom implementation instead of iscntrl
  src/font.cpp
  src/pending_message.cpp
  src/utils.h
  src/window_message.cpp
  tests/font.cpp
Labels: Messages, Regression

#2095 Fix Inputs being lost when the game lags.
  src/player.cpp
Labels: Regression, UX

#2092 Fix Cache regression for DummyBitmaps
  src/cache.cpp
Labels: Bitmaps, Regression

#2104 Initialize screen and picture graphics on battle test
  src/game_screen.cpp
  src/scene_battle.cpp
Labels: Crash, Regression

#2086 Fix lag when loading large SE files
  builds/3ds/romfs/.gitkeep
  src/audio_3ds.cpp
  src/audio_decoder.cpp
  src/audio_decoder.h
  src/audio_generic.cpp
  src/audio_generic.h
  src/audio_resampler.cpp
  src/audio_resampler.h
  src/audio_sdl_mixer.cpp
  src/audio_sdl_mixer.h
  src/audio_secache.cpp
  src/audio_secache.h
  src/decoder_libsndfile.cpp
Labels: Audio, Performance

#2119 GenericAudio: Fix a race condition when BGM_Play is called too often
  src/audio_generic.cpp
Labels: Audio

#2116 Battle: Crashfix and minor bugfix
  src/game_battlealgorithm.cpp
  src/game_screen.cpp
  src/scene_battle.cpp
Labels: Battle, Regression

#2105 Separate system keys from game keys
  src/input.cpp
  src/input.h
  src/input_buttons.h
  src/input_source.cpp
  src/input_source.h
  src/player.cpp
Labels: UX

#2121 Android: Fix orientation lock and button text size
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/VirtualButton.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
Labels: Android

#2110 Add Arrows to Item, Skills, and Shop
  src/window_selectable.cpp
  src/window_selectable.h
Labels: Window/Scenes

#2113 Do an early transition out before loading save
  src/player.cpp
  src/scene.cpp
  src/transition.cpp
Labels: Savegames, Transitions

#2124 Transition bitmap - disable transparency
  src/transition.cpp
Labels: Bitmaps, Transitions

#2127 Fix 2126
  src/game_interpreter.cpp
Labels: Event/Interpreter

#2129 FlipBlit: Reset the transformation matrix correctly
  src/bitmap.cpp
Labels: Regression

#2107 Various battle fixes
  src/game_actor.cpp
  src/game_actor.h
  src/game_actors.cpp
  src/game_actors.h
  src/game_battle.cpp
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_enemyparty.cpp
  src/game_interpreter.cpp
  src/game_party_base.cpp
  src/game_party_base.h
  src/scene_battle.cpp
Labels: Battle

#2131 Fix use-after-free in Audio SDL Mixer
  src/audio_sdl_mixer.cpp
  src/audio_sdl_mixer.h
Labels: Audio, Regression

#2135 Fix crash in ChangeClass without message box
  src/game_actor.cpp
Labels: Crash, Regression

#2138 Wine: Disable Wow6432Node redirection for HKCU
  src/registry_wine.cpp
Labels: FileFinder

#2145 Window_Message: fix empty line handling
  src/window_message.cpp
Labels: Messages, Regression

#2114 Accurate Weather effects
  src/game_screen.cpp
  src/game_screen.h
  src/pixel_format.h
  src/weather.cpp
  src/weather.h
Labels: Weather

#2137 Battle 2k3: Fix BattleAnim-Battlers being invisible before first action
  src/sprite_battler.cpp
Labels: Battle

#2143 KeyInputProc: Use correct behaviour depending on engine version
  src/game_interpreter.cpp
Labels: Event/Interpreter

#2146 SDL Audio: Fix Lock/UnlockMutex.
  src/audio_sdl.cpp
Labels: Audio, Crash, Regression

#2139 Add safe math optimization flags
  CMakeLists.txt
  Makefile.am
  builds/3ds/Makefile
  builds/amiga/Makefile
  builds/android/app/src/main/jni/gamebrowser/Android.mk
  builds/android/app/src/main/jni/src/Android.mk
  builds/opendingux/Makefile
  builds/psvita/Makefile
  builds/switch/Makefile
  builds/wii/Makefile
Labels: Building, Performance

#2149 Message regression fixes
  src/game_map.cpp
  src/game_message.cpp
  src/scene_name.cpp
  tests/parse.cpp
Labels: Messages, Regression

#2152 Resampler: Fix buffer overflow in mono_to_stereo_resample
  src/audio_resampler.cpp
Labels: Audio, Crash, Regression

#2159 Fix build with libnx 3.1.0
  src/audio_switch.cpp
Labels: Building, Switch

#2163 Remove the MorphOS macro undefs
  builds/amiga/Makefile
  src/async_handler.h
  src/filefinder.cpp
  src/game_character.h
  src/output.h
Labels: Building

#2161 CommandControlVariables fixes
  bench/variables.cpp
  src/game_interpreter.cpp
  src/game_variables.cpp
  src/game_variables.h
  tests/parse.cpp
  tests/variables.cpp
Labels: Event/Interpreter

#2160 First part of the platform restructure
  CMakeLists.txt
  Makefile.am
  builds/3ds/Makefile
  builds/opendingux/Makefile
  builds/psvita/Makefile
  builds/switch/Makefile
  builds/wii/Makefile
  src/audio_sdl_mixer.cpp
  src/baseui.cpp
  src/decoder_wildmidi.cpp
  src/filefinder.cpp
  src/platform/3ds/3ds_audio.cpp
  src/platform/3ds/3ds_audio.h
  src/platform/3ds/3ds_clock.cpp
  src/platform/3ds/3ds_clock.h
  src/platform/3ds/3ds_ui.cpp
  src/platform/3ds/3ds_ui.h
  src/platform/libretro/libretro_audio.cpp
  src/platform/libretro/libretro_audio.h
  src/platform/libretro/libretro_input_buttons.cpp
  src/platform/libretro/libretro_ui.cpp
  src/platform/libretro/libretro_ui.h
  src/platform/opendingux/opendingux_input_buttons.cpp
  src/platform/psp/psp_input_buttons.cpp
  src/platform/psvita/psp2_audio.cpp
  src/platform/psvita/psp2_audio.h
  src/platform/psvita/psp2_clock.cpp
  src/platform/psvita/psp2_clock.h
  src/platform/psvita/psp2_ui.cpp
  src/platform/psvita/psp2_ui.h
  src/platform/switch/switch_audio.cpp
  src/platform/switch/switch_audio.h
  src/platform/switch/switch_clock.cpp
  src/platform/switch/switch_clock.h
  src/platform/switch/switch_ui.cpp
  src/platform/switch/switch_ui.h
  src/platform/wii/wii_input_buttons.cpp
  src/platform/windows/utils.cpp
  src/platform/windows/utils.h
  src/platform_clock.h
  src/player.cpp
Labels: 3DS, Building, PSVita, Switch

#2165 PSVita: Fix Makefile, add include directory
  builds/psvita/Makefile
Labels: Building, PSVita

#2167 Fix crash in ShowBattleAnimation() when target is invalid
  src/game_screen.cpp
Labels: Animations, Crash, Savegames

#2172 Fix rounding bug in scroll with map picture offset adjustment
  src/game_pictures.cpp
Labels: Pictures, Regression

#2170 Move __MORPHOS_SHAREDLIBS into the Makefile for MorphOS
  builds/amiga/Makefile
  src/image_png.cpp
Labels: Building

#2168 Battle 2k: Prevent crash when battle action is NULL
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
Labels: Battle

#2177 Regression fixes
  src/bitmap.cpp
  src/filefinder.cpp
  src/game_interpreter.cpp
Labels: Regression

#1639 Refactor move type random
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
Labels: Event/Interpreter, Move Routes, Refactor

#2100 DisplayUI cleanups - Config 1 of N
  CMakeLists.txt
  configure.ac
  src/baseui.cpp
  src/baseui.h
  src/game_interpreter.cpp
  src/platform/3ds/3ds_ui.cpp
  src/platform/3ds/3ds_ui.h
  src/platform/libretro/libretro_ui.cpp
  src/platform/libretro/libretro_ui.h
  src/platform/psvita/psp2_ui.cpp
  src/platform/psvita/psp2_ui.h
  src/platform/switch/switch_ui.cpp
  src/platform/switch/switch_ui.h
  src/sdl2_ui.cpp
  src/sdl2_ui.h
  src/sdl_ui.cpp
  src/sdl_ui.h
Labels: Refactor, Video
