Repository EasyRPG/Player, pull requests merged in 2020-03, with the labels that each got.

#2019 Transition graphical fixes - MainLoop 4 of N
  src/drawable_list.cpp
  src/drawable_list.h
  src/game_interpreter.cpp
  src/game_system.cpp
  src/game_system.h
  src/graphics.cpp
  src/graphics.h
  src/player.cpp
  src/scene.cpp
  src/scene_battle.cpp
  src/scene_debug.cpp
  src/scene_debug.h
  src/scene_gameover.cpp
  src/scene_item.cpp
  src/scene_map.cpp
  src/scene_skill.cpp
  src/scene_teleport.cpp
  src/scene_title.cpp
  src/transition.cpp
  src/transition.h
Labels: Bitmaps, Graphics, Transitions

#2066 Remove global drawable list - Main Loop 5 of N
  src/drawable_mgr.cpp
  src/drawable_mgr.h
  src/graphics.cpp
  src/graphics.h
  src/player.cpp
  src/scene.cpp
  src/scene.h
  src/transition.cpp
  tests/drawable_list.cpp
  tests/drawable_mgr.cpp
Labels: Drawables

#2074 Allow global drawables to be destroyed when there is no list + windows crash fixes
  CMakeLists.txt
  builds/cmake/Modules/ConfigureWindows.cmake
  src/drawable_mgr.cpp
  src/player.cpp
  src/text.cpp
  src/window_message.cpp
  tests/parse.cpp
  tests/utf.cpp
Labels: Crash, Drawables, Regression, Win32

#2081 Don't call Scene_File::Update from Start()
  src/scene_file.cpp
Labels: Transitions, Window/Scenes

#2077 Interpreter todo items + more windows fixes
  src/game_character.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_party.cpp
  src/game_player.cpp
  src/player.cpp
  src/scene_debug.cpp
  src/scene_item.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/scene_skill.cpp
  src/window_message.cpp
Labels: Event/Interpreter, Win32

#2078 RPG_RT v1.11 fixes
  src/window_message.cpp
Labels: Savegames, Transitions

#2082 Switch: Enable left thumbstick, fix using B button
  src/switch_ui.cpp
  src/switch_ui.h
Labels: Enhancement, Switch

#2017 Refactor MainLoop and FPS - MainLoop 6 of N
  builds/cmake/Modules/ConfigureWindows.cmake
  resources/easyrpg-player.6.adoc
  resources/unix/bash-completion/easyrpg-player
  src/audio.cpp
  src/audio_libretro.cpp
  src/audio_secache.cpp
  src/baseui.cpp
  src/baseui.h
  src/cache.cpp
  src/fps_overlay.cpp
  src/fps_overlay.h
  src/game_clock.cpp
  src/game_clock.h
  src/game_interpreter.cpp
  src/graphics.cpp
  src/graphics.h
  src/libretro_ui.cpp
  src/output.cpp
  src/player.cpp
  src/player.h
  src/scene_gamebrowser.cpp
  src/scene_map.cpp
  src/sdl2_ui.cpp
Labels: Performance, Refactor

#2083 Search for installed RTPs in XDG locations
  src/filefinder.cpp
  src/system.h
Labels: FileFinder

#2088 Message \n[] respect actor renames
  src/pending_message.cpp
Labels: Messages, Regression

#2089 3DS build fix
  src/game_clock.h
Labels: 3DS, Building

#2087 Android: Remove armeabi, add x86_64, SDL 2.0.12
  builds/android/app/src/main/java/org/libsdl/app/HIDDevice.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceBLESteamController.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceManager.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceUSB.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLAudioManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLControllerManager.java
  builds/android/app/src/main/jni/Application.mk
Labels: Android, Building
