Repository EasyRPG/Player, pull requests merged in 2021-08, with the labels that each got.

#2608 Colorize terminal output, if possible
  CMakeLists.txt
  Makefile.am
  README.md
  resources/easyrpg-player.6.adoc
  resources/unix/bash-completion/easyrpg-player
  src/external/rang.hpp
  src/output.cpp
  src/output.h
  src/player.cpp
Labels: UX

#2580 Mention Font licenses in Readme file
  README.md
  resources/wenquanyi/README
  resources/wenquanyi/doc/README
Labels: Documentation

#2523 ShowPicture: Support empty names
  src/game_pictures.cpp
  src/output.cpp
  src/sprite_picture.cpp
Labels: Pictures

#2613 MidiOut: Fix inn infinite loop
  src/audio_decoder_midi.cpp
Labels: MIDI

#2621 Fix skill start second message
  src/battle_message.cpp
Labels: Battle

#2626 Change message window transparency
  src/window_message.cpp
Labels: Window/Scenes

#2602 Use cmake for psvita building
  CMakeLists.txt
  builds/psvita/.gitignore
  builds/psvita/Makefile
  builds/psvita/release/sce_sys/livearea/contents/template.xml
  builds/release-helper.sh
  resources/psvita/bg.png
  resources/psvita/icon0.png
  resources/psvita/startup.png
  resources/psvita/template.xml
Labels: Building, PSVita
