Repository EasyRPG/Player, pull requests merged in 2021-01, with the labels that each got.

#2433 Android: Opt out of scoped storage nonsense
  builds/android/app/src/main/AndroidManifest.xml
Labels: Android

#2430 Fix EXP table on actors with changed classes on savegame loading
  src/game_actor.cpp
Labels: Regression

#2404 Migrate lcf::Data from liblcf to Player
  CMakeLists.txt
  Makefile.am
  src/lcf/data.cpp
  src/lcf/data.h
  src/player.cpp
  src/scene_save.cpp
  src/scene_title.cpp
Labels: Refactor

#2438 Fix lcf::Data linker errors for Make platforms
  CMakeLists.txt
  Makefile.am
  src/lcf_data.cpp
Labels: Building

#2439 Improve error handling of OpenInputStream/OpenOutputStream.
  src/filefinder.cpp
Labels: FileFinder

#2413 Add snapcraft recipe
  builds/snap/snapcraft.yaml
Labels: Building

#2447 Fix random movement behavior on locked face direction
  src/game_character.cpp
Labels: Event/Interpreter, Regression
