Repository EasyRPG/Player, pull requests merged in 2021-05, with the labels that each got.

#2514 URL encode +
  src/async_handler.cpp
Labels: Emscripten

#2505 Battle 2k3: Fix flash and shake effects on battle animation sprites
  src/battle_animation.cpp
  src/battle_animation.h
Labels: Animations, Battle

#2512 Fix ExFont extraction in Grimm's Hollow
  src/exe_reader.cpp
  src/exe_reader.h
  src/image_bmp.cpp
  src/image_bmp.h
Labels: Bitmaps

#2510 Battle 2k3: Add CBA melee weapons
  CMakeLists.txt
  Makefile.am
  src/game_actor.cpp
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle_rpg2k3.cpp
  src/sprite_actor.cpp
  src/sprite_actor.h
  src/sprite_weapon.cpp
  src/sprite_weapon.h
Labels: Animations, Battle

#2516 Fix make distcheck
  CMakeLists.txt
  Makefile.am
  tests/assets/game/Charset/chara1.png
  tests/assets/game/ExFont.png
  tests/assets/game/RPG_RT.ldb
  tests/assets/game/RPG_RT.lmt
  tests/assets/notagame/.gitkeep
  tests/assets/platform/1kb
  tests/assets/platform/empty
  tests/assets/platform/folder/.gitkeep
  tests/assets/rtp/FaceSet/Actor2.png
  tests/assets/rtp/FaceSet/主人公1.png
  tests/assets/rtp/Music/ダンジョン1.wav
  tests/assets/rtp/Music/ダンジョン2.ogg
  tests/assets/rtp/Sound/カーソル1.wav
  tests/assets/rtp/Sound/キャンセル1.wav
Labels: Building

#2435 Emscripten bugfixes
  src/async_handler.cpp
  src/utils.cpp
  src/utils.h
  src/window_message.cpp
  tests/utils.cpp
Labels: Emscripten, Regression

#2518 Emscripten: don't minify HTML shell on release build
  CMakeLists.txt
Labels: Emscripten, Regression

#2520 Emscripten: Improve engine and patch detection.
  src/async_handler.cpp
  src/player.cpp
Labels: Emscripten

#2529 When Death "Ends after Battle" set the HP to 1 in case of dead.
  src/game_battler.cpp
  src/state.cpp
  src/state.h
Labels: Battle

#2515 Battle 2k3: Add CBA single target ranged weapons
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/sprite_weapon.cpp
  src/sprite_weapon.h
Labels: Battle

#2525 Enable sound on standalone game
  builds/android/app/src/main/java/org/easyrpg/player/MainActivity.java
Labels: Android, Audio

#2536 Emscripten: Add dynCall. Required by SDL now for audio
  CMakeLists.txt
Labels: Audio, Building, Emscripten

#2533 Equipment scene: Use 4 digits for stat values in RPG Maker 2003
  src/window_equipstatus.cpp
Labels: Window/Scenes

#2532 Support CMake 3.10-3.20
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  README.md
  src/string_view.h
Labels: Building

#2542 Battle 2k3: Fix CBA move back on victory in case of multi-attack
  src/scene_battle_rpg2k3.cpp
Labels: Animations, Battle

#2544 Input: Rebind key used for fast forward x10 on desktop versions
  src/input_buttons.h
  src/input_buttons_desktop.cpp
  src/player.cpp
Labels: UX
