Repository EasyRPG/Player, pull requests merged in 2021-07, with the labels that each got.

#2566 switch: Rename missing ZL key for new hid api
  src/platform/switch/switch_ui.cpp
Labels: Switch, Toolchain

#2571 Replace built-in "Fast WAV" decoder with dr_wav
  CMakeLists.txt
  Makefile.am
  README.md
  builds/3ds/Makefile
  builds/amiga/Makefile
  builds/psvita/Makefile
  builds/switch/Makefile
  builds/wii/Makefile
  configure.ac
  src/audio_decoder.cpp
  src/decoder_drwav.cpp
  src/decoder_drwav.h
  src/decoder_wav.cpp
  src/dr_wav.h
Labels: Audio, Performance

#2579 Fix Issue 2179
  src/graphics.cpp
Labels: Performance

#2302 MIDI: native midiout system
  CMakeLists.txt
  Makefile.am
  README.md
  builds/autoconf/m4/ax_pthread.m4
  builds/cmake/Modules/FindSDL2_mixer.cmake
  configure.ac
  src/audio_al.cpp
  src/audio_al.h
  src/audio_decoder.cpp
  src/audio_decoder.h
  src/audio_decoder_base.cpp
  src/audio_decoder_base.h
  src/audio_decoder_midi.cpp
  src/audio_decoder_midi.h
  src/audio_generic.cpp
  src/audio_generic.h
  src/audio_generic_midiout.cpp
  src/audio_generic_midiout.h
  src/audio_midi.cpp
  src/audio_midi.h
  src/audio_resampler.cpp
  src/audio_resampler.h
  src/audio_sdl.cpp
  src/audio_sdl.h
  src/audio_sdl_mixer.cpp
  src/audio_sdl_mixer.h
  src/audio_secache.cpp
  src/audio_secache.h
  src/decoder_fluidsynth.cpp
  src/decoder_fluidsynth.h
  src/decoder_fmmidi.cpp
  src/decoder_midigeneric.cpp
  src/decoder_midigeneric.h
  src/decoder_wildmidi.cpp
  src/decoder_wildmidi.h
  src/midisequencer.cpp
  src/midisequencer.h
  src/midisynth.cpp
  src/platform/3ds/3ds_audio.cpp
  src/platform/libretro/midiout_device_libretro.cpp
  src/platform/libretro/midiout_device_libretro.h
  src/platform/linux/midiout_device_alsa.cpp
  src/platform/linux/midiout_device_alsa.h
  src/platform/macos/midiout_device_coreaudio.cpp
  src/platform/macos/midiout_device_coreaudio.h
  src/platform/windows/midiout_device_win32.cpp
  src/platform/windows/midiout_device_win32.h
Labels: Audio, MIDI, Refactor, Win32, macOS

#2576 Equipment scene: Do not show equippable items on fixed equipment
  src/game_actor.cpp
  src/game_actor.h
  src/scene_equip.cpp
  src/window_equipitem.cpp
  tests/game_actor.cpp
Labels: Window/Scenes

#2577 Fix Issue 2561
  src/cache.cpp
Labels: Bitmaps, FileFinder, Refactor

#2578 Accept more keyboard keys when using KeyInputProc
  src/input_buttons_desktop.cpp
  src/keys.h
  src/platform/3ds/3ds_ui.cpp
  src/platform/libretro/libretro_input_buttons.cpp
  src/platform/libretro/libretro_ui.cpp
  src/platform/switch/switch_ui.cpp
  src/sdl2_ui.cpp
  src/sdl_ui.cpp
Labels: UX

#2572 Improve ZIP handling
  src/filesystem_zip.cpp
  src/filesystem_zip.h
  src/utils.h
Labels: FileFinder

#2592 Some fixes
  .editorconfig
  .gitattributes
  CMakeLists.txt
  builds/3ds/Makefile
  builds/amiga/Makefile
  builds/psvita/Makefile
  builds/switch/Makefile
  builds/wii/Makefile
  configure.ac
  src/audio_decoder.cpp
  src/audio_midi.cpp
  src/audio_sdl.cpp
  src/decoder_mpg123.cpp
  src/decoder_mpg123.h
  src/decoder_wildmidi.cpp
  src/decoder_wildmidi.h
  src/decoder_xmp.cpp
  src/decoder_xmp.h
  src/platform/3ds/3ds_audio.cpp
  src/platform/3ds/3ds_audio.h
  src/sdl2_ui.cpp
  src/sdl_ui.cpp
  src/system.h
Labels: Building

#2595 libxmp: Fix VFS support
  CMakeLists.txt
  builds/cmake/Modules/FindXMP.cmake
  builds/cmake/Modules/PlayerFindPackage.cmake
  configure.ac
  src/audio_decoder.cpp
  src/decoder_xmp.cpp
  src/decoder_xmp.h
Labels: Audio

#2596 XMP: Reset stream properly, newlib fixes
  src/decoder_xmp.cpp
  src/game_interpreter_map.cpp
Labels: Audio, Regression
