Repository EasyRPG/Player, pull requests merged in 2021-09, with the labels that each got.

#2564 Add custom game settings
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_party.cpp
  src/game_party.h
  src/game_variables.cpp
  src/player.cpp
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/scene_debug.cpp
  src/scene_equip.cpp
  src/scene_file.cpp
  src/scene_save.cpp
  src/scene_shop.cpp
  src/window_actorsp.cpp
  src/window_actorstatus.cpp
  src/window_actortarget.cpp
  src/window_base.cpp
  src/window_battlestatus.cpp
  src/window_equipstatus.cpp
  src/window_menustatus.cpp
  src/window_numberinput.cpp
  src/window_shopbuy.cpp
  src/window_shopnumber.cpp
  src/window_shopparty.cpp
  src/window_skillstatus.cpp
Labels: Battle, Database, Enhancement, Settings

#2617 3DS touchscreen controls toggle
  builds/3ds/gfx/keyboard.png
  src/platform/3ds/3ds_ui.cpp
  src/platform/3ds/3ds_ui.h
Labels: 3DS

#2630 macOS: Link against AudioToolbox and AudioUnit frameworks
  CMakeLists.txt
Labels: Building

#2631 Add support for special battle conditions in random battle encounters
  src/game_map.cpp
Labels: Battle

#2632 Add support for negative terrain damage
  src/game_player.cpp
Labels: Maps

#2634 Change menu cursor scrolling speed
  src/input.cpp
Labels: Window/Scenes

#2636 Change Z-Value calculation in RPG Maker 2003 battles
  src/scene_battle_rpg2k3.cpp
  src/sprite_battler.cpp
Labels: Battle, Animations

#2637 Fix BGM play upon returning to the title screen from load screen
  src/scene_title.cpp
Labels: Window/Scenes, Audio

#2633 Clear current_music on starting a new game (Fix issue #2411)
  src/game_system.cpp
  src/game_system.h
  src/player.cpp
Labels: Audio

#2644 autoconf: add vorbis library
  configure.ac
Labels: Building

#2639 Only respect two_handed for Weapons
  src/game_actor.cpp
Labels: Window/Scenes

#2647 Fix broken check for "All directions" for RPG2k3 <1.05
  src/game_interpreter.cpp
Labels: Event/Interpreter, Regression

#2530 Port some audio code from SDL2 Mixer to SDL2
  src/audio_sdl.cpp
Labels: Android, Emscripten

#2645 Debug scene: Add level settings
  src/scene_debug.cpp
  src/scene_debug.h
  src/window_varlist.cpp
  src/window_varlist.h
Labels: Window/Scenes

#2623 Maniac Patch: Implement Load, Save, SaveInfo and Mouse input
  src/async_op.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_pictures.cpp
  src/game_pictures.h
  src/output.cpp
  src/player.cpp
  src/scene_map.cpp
  src/scene_save.cpp
  src/scene_save.h
  src/utils.cpp
  src/utils.h
Labels: Event/Interpreter, RPG_RT Patches

#2648 Battle 2k3: Consider acting battler for certain page conditions
  src/game_interpreter_battle.cpp
  src/game_interpreter_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle

#2457 change the button input layout to match 3ds' better layout
  src/platform/psvita/psp2_ui.cpp
Labels: PSVita

#2635 PSVita: touchscreen support
  CMakeLists.txt
  resources/psvita/touch_ui.png
  src/platform/psvita/psp2_ui.cpp
  src/platform/psvita/psp2_ui.h
Labels: UX, Enhancement, PSVita

#2641 Fix and improve encoding detection
  src/player.cpp
  src/utils.h
Labels: Regression

#2640 Clear system graphic when clearing the cache
  src/cache.cpp
  src/graphics.cpp
  src/player.cpp
  src/scene.cpp
Labels: Android, Regression

#2653 Fix title graphic disappearing too early (#2337)
  src/graphics.cpp
  src/scene.cpp
  src/scene.h
  src/scene_map.cpp
  src/scene_map.h
  src/scene_title.cpp
  src/scene_title.h
Labels: Window/Scenes, Transitions

#2655 Small maintenance
  .editorconfig
  .gitattributes
  CMakeLists.txt
  Makefile.am
  builds/autoconf/m4/ax_cxx_compile_stdcxx.m4
  builds/switch/Makefile
  src/async_handler.cpp
  src/decoder_drwav.cpp
  src/decoder_drwav.h
  src/external/dr_wav.h
  src/external/picojson.h
  src/game_interpreter.cpp
  src/picojson.h
Labels: Building, Switch

#2657 Fix save/load scene scroll speed regression
  src/scene_file.cpp
Labels: Window/Scenes, Regression
