Repository EasyRPG/Player, pull requests merged in 2021-04, with the labels that each got.

#2501 Audio fixes
  src/audio_generic.cpp
  src/audio_generic.h
  src/decoder_wav.cpp
  src/decoder_wav.h
Labels: Audio, Regression

#2502 Make RPG Maker 2003 battle hardcoded terms customizable
  src/battle_message.cpp
  src/battle_message.h
  src/game_battlealgorithm.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle, Database, Enhancement

#2507 PSVita: QoL changes and VSync support
  builds/psvita/Makefile
  src/platform/psvita/psp2_ui.cpp
Labels: PSVita

#2508 Fix newlib build issues
  src/game_system.cpp
  src/scene_shop.cpp
Labels: Building

#2483 RPG Maker 2003 battle scene changes
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/window_actorsp.cpp
  src/window_base.cpp
  src/window_base.h
  src/window_battlestatus.cpp
Labels: Battle, Window/Scenes

#2482 Battle 2k3: Battle animation sprites changes
  src/battle_animation.cpp
  src/battle_animation.h
  src/scene_battle_rpg2k3.cpp
  src/sprite_actor.cpp
  src/sprite_actor.h
  src/sprite_battler.h
  src/sprite_enemy.cpp
  src/sprite_enemy.h
Labels: Animations, Battle

#2503 Battle 2k3: Add CBA movement
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_party.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
  src/sprite_actor.cpp
  src/sprite_actor.h
Labels: Animations, Battle

#2513 Fix #2509
  src/cache.cpp
Labels: Performance
