Repository EasyRPG/Player, pull requests merged in 2021-11, with the labels that each got.

#2681 Filesystem: Use Exists instead of ListDirectory to check whether a FilesystemView is valid
  src/filefinder.cpp
  src/filefinder.h
  src/filesystem.cpp
  src/platform.cpp
  src/platform/psvita/psp2_ui.cpp
Labels: FileFinder, Crash

#2685 buildfix and wii fast forward
  configure.ac
  src/platform/wii/wii_input_buttons.cpp
Labels: Building, Wii

#2684 Set frame_limit to zero if fps_limit is set to zero
  src/baseui.cpp
Labels: Crash, Regression

#2674 Fix missing alpha when a picture is rotating and the screen fades out
  src/bitmap.cpp
Labels: Regression, Transitions, Pictures

#2688 Translations: Fix reading of Meta.ini
  src/filesystem.cpp
  src/translation.cpp
Labels: FileFinder

#2693 Translation selection: Make help window respect transparency setting
  src/scene_title.cpp
Labels: Window/Scenes

#2696 Emscripten related fixes
  src/directory_tree.cpp
  src/filesystem.cpp
  src/sprite_character.cpp
Labels: FileFinder, Emscripten, Regression
