Repository EasyRPG/Player, pull requests merged in 2021-03, with the labels that each got.

#2461 Fix save count incrementing on game save
  src/game_system.h
  src/scene_save.cpp
Labels: Savegames

#2466 Fix DynRPG sample function @easyrpg_output
  src/dynrpg_easyrpg.cpp
Labels: RPG_RT Patches

#2460 Filesystem [2.5/3]: Fix regressions
  src/directory_tree.cpp
  src/directory_tree.h
Labels: Feature Request, Regression

#2468 Fix WildMidi becoming stuck
  src/decoder_midigeneric.cpp
Labels: Android, Audio, Regression

#2469 Doxygen: update Doxyfile to 1.8.20
  resources/Doxyfile.in
Labels: Documentation

#2467 Android: Update SDL to 2.0.14
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceManager.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceUSB.java
  builds/android/app/src/main/java/org/libsdl/app/SDL.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLAudioManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLControllerManager.java
Labels: Android

#2473 Make some hardcoded terms customizable
  src/scene_order.cpp
  src/window_actorinfo.cpp
  src/window_equipstatus.cpp
  src/window_item.cpp
  src/window_skill.cpp
Labels: Enhancement, Transitions

#2453 Equip and shop window: Fix display errors on edge cases
  src/game_battler.cpp
  src/game_battler.h
  src/scene_equip.cpp
  src/window_shopparty.cpp
Labels: Window/Scenes

#2480 Debug scene: Set gold setting back to 6 digits
  src/scene_debug.cpp
  src/scene_menu.cpp
Labels: Regression, Window/Scenes

#2475 Migrate Android build to gradle+CMake
  .gitignore
  CMakeLists.txt
  README.md
  builds/android/app/.gitignore
  builds/android/app/build.gradle
  builds/android/app/src/gamebrowser/CMakeLists.txt
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser_GameScanner.cpp
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser_GameScanner.h
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/jni/Android.mk
  builds/android/app/src/main/jni/Application.mk
  builds/android/app/src/main/jni/SDL2/Android.mk
  builds/android/app/src/main/jni/deps/Android.mk
  builds/android/app/src/main/jni/gamebrowser/Android.mk
  builds/android/app/src/main/jni/src/Android.mk
  builds/android/build.gradle
  builds/android/gradle.properties
  builds/cmake/Modules/FindSDL2.cmake
  src/platform/android/org_easyrpg_player_player_EasyRpgPlayerActivity.cpp
  src/platform/android/org_easyrpg_player_player_EasyRpgPlayerActivity.h
Labels: Android, Building

#2478 Improve MIDI playback accuracy
  src/decoder_fluidsynth.cpp
  src/decoder_midigeneric.cpp
  src/game_system.cpp
Labels: Audio, MIDI

#2495 Fix 2493
  src/platform/libretro/libretro_ui.cpp
Labels: libretro

#2485 Help window space width changes
  src/scene_actortarget.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_end.cpp
  src/window_help.cpp
  src/window_help.h
Labels: Window/Scenes

#2496 SDL mixer: Do not leak handles
  src/audio_sdl_mixer.cpp
  src/decoder_midigeneric.cpp
Labels: Audio, MIDI

#2486 Stub Maniac Patch commands, add --patch cli arg
  resources/easyrpg-player.6.adoc
  src/game_ineluki.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_battle.h
  src/player.cpp
  src/player.h
Labels: Event/Interpreter, RPG_RT Patches

#2481 Fixes for NovemberJoy's remaining battle issues
  src/scene_battle_rpg2k3.cpp
  src/sprite_actor.cpp
Labels: Battle

#2492 Show more than one state in help window
  src/game_battler.cpp
  src/game_battler.h
  src/scene_battle_rpg2k3.cpp
  src/state.cpp
  src/state.h
  src/window_help.cpp
  src/window_help.h
Labels: Battle, Window/Scenes

#2498 Implement customizable enemy unarmed battle animation
  src/game_battlealgorithm.cpp
  src/game_enemy.h
Labels: Battle, RPG_RT Patches

#2361 UI changes (2/2)
  src/scene_file.cpp
  src/scene_file.h
  src/scene_skill.cpp
  src/scene_skill.h
  src/window_actorstatus.cpp
  src/window_actorstatus.h
  src/window_actortarget.cpp
  src/window_battlestatus.cpp
  src/window_menustatus.cpp
  src/window_menustatus.h
  src/window_message.cpp
  src/window_savefile.cpp
  src/window_selectable.cpp
  src/window_selectable.h
  src/window_skillstatus.cpp
  src/window_targetstatus.cpp
Labels: Window/Scenes
