Repository EasyRPG/Player, pull requests merged in 2021-06, with the labels that each got.

#2537 Battle 2k3: Add CBA multi target ranged weapons
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Animations, Battle

#2538 Battle 2k3: Implement CBA Afterimage
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/scene_battle_rpg2k3.cpp
  src/sprite_actor.cpp
  src/sprite_actor.h
Labels: Animations, Battle

#2545 Add --rtp-path command line option
  resources/easyrpg-player.6.adoc
  resources/unix/bash-completion/easyrpg-player
  src/filefinder_rtp.cpp
  src/filefinder_rtp.h
  src/player.cpp
Labels: FileFinder

#2551 Change sound volume scaling
  builds/cmake/Modules/FindSDL2.cmake
  src/game_system.cpp
Labels: Audio

#2557 Fix 3ds and Vita build. Fix emscripten regression. Do not overwrite volume chunks.
  resources/emscripten/emscripten-post.js
  src/game_system.cpp
  src/platform.cpp
  src/player.cpp
Labels: Regression

#2559 Emscripten: Create save folder before CLI parser
  src/player.cpp
Labels: Emscripten, Regression

#2549 Update IRC network
  README.md
  src/window_about.cpp
Labels: Documentation
