Repository EasyRPG/Player, pull requests merged in 2021-02, with the labels that each got.

#2395 Refactor directory access into DirectoryTree - FS [2/3]
  CMakeLists.txt
  Makefile.am
  bench/rtp.cpp
  src/directory_tree.cpp
  src/directory_tree.h
  src/dynrpg.cpp
  src/fileext_guesser.cpp
  src/fileext_guesser.h
  src/filefinder.cpp
  src/filefinder.h
  src/filefinder_rtp.cpp
  src/filefinder_rtp.h
  src/game_system.cpp
  src/game_system.h
  src/main_data.cpp
  src/main_data.h
  src/meta.cpp
  src/meta.h
  src/player.cpp
  src/registry.cpp
  src/registry.h
  src/registry_wine.cpp
  src/rtp.cpp
  src/rtp.h
  src/scene_file.cpp
  src/scene_file.h
  src/scene_gamebrowser.cpp
  src/scene_import.cpp
  src/scene_import.h
  src/scene_load.cpp
  src/scene_logo.cpp
  src/scene_save.cpp
  src/scene_save.h
  src/translation.cpp
  src/translation.h
  src/window_gamelist.cpp
  src/window_gamelist.h
  tests/directorytree.cpp
  tests/filefinder.cpp
  tests/game/ExFont.png
  tests/rtp.cpp
  tests/rtp/FaceSet/Actor2.png
  tests/rtp/FaceSet/主人公1.png
  tests/rtp/Music/ダンジョン1.wav
  tests/rtp/Music/ダンジョン2.ogg
  tests/rtp/Sound/カーソル1.wav
  tests/rtp/Sound/キャンセル1.wav
Labels: FileFinder, Refactor

#2456 Disallow system updates on closing windows (retry)
  src/window.h
  src/window_base.cpp
  src/window_savefile.h
Labels: UX

#2458 Fix Build + enemy ai switch bug
  src/directory_tree.h
  src/enemyai.cpp
Labels: Battle, Building

#2454 Switch: Update for libnx 4.0 (hid refactor)
  builds/switch/Makefile
  src/platform/switch/switch_ui.cpp
Labels: Switch
