Repository EasyRPG/Player, pull requests merged in 2022-06, with the labels that each got.

#2796 Migrate AmigaOS4/Morphos to CMake
  CMakeLists.txt
  Makefile.am
  builds/amiga/Makefile
  builds/cmake/Modules/FindXMP.cmake
  resources/amiga/EasyRPG-Player.info
  src/decoder_wildmidi.cpp
  src/filefinder_rtp.cpp
  src/main_data.cpp
  src/platform/amigaos4/cmath
  src/platform/morphos/integration.cpp
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/platform/sdl/sdl_ui.cpp
  src/system.h
  src/utils.cpp
  src/utils.h
Labels: Building

#2804 Improve DirectoryTree & FileFinder_RTP performance
  bench/bitmap.cpp
  bench/rtp.cpp
  src/directory_tree.cpp
  src/directory_tree.h
  src/filefinder_rtp.cpp
  src/rtp.cpp
  src/rtp.h
  tests/filesystem.cpp
  tests/rtp.cpp
Labels: FileFinder, Performance

#2809 Flatpak support
  .editorconfig
  .github/workflows/stable-compilation.yml
  .gitignore
  CMakeLists.txt
  Makefile.am
  builds/flatpak/org.easyrpg.player.yml
  resources/icons.xcf
  resources/unix/easyrpg-player.desktop
  resources/unix/easyrpg-player.metainfo.xml
  resources/unix/easyrpg-player.svg
  resources/unix/icon-48.png
Labels: UX, Building

#2814 Workaround bug in chrome developer console
  resources/emscripten/emscripten-pre.js
Labels: Emscripten

#2818 Move flatpak build from GitHub Actions to Jenkins
  .github/workflows/stable-compilation.yml
Labels: Building

#2817 Various minor bugfixes
  src/directory_tree.cpp
  src/dynrpg.cpp
  src/game_character.cpp
  src/game_map.cpp
  src/game_map.h
  src/scene_map.cpp
  src/translation.cpp
Labels: Event/Interpreter, Savegames, Emscripten, RPG_RT Patches, Translation
