Repository EasyRPG/Player, pull requests merged in 2022-05, with the labels that each got.

#2774 Add git revision info to player version
  .github/workflows/stable-compilation.yml
  .gitignore
  CMakeLists.txt
  Makefile.am
  README.md
  builds/android/gradle.properties
  builds/autoconf/git-version.sh
  builds/autoconf/m4/ax_build_date_epoch.m4
  builds/cmake/Modules/GetGitRevisionDescription.cmake
  builds/cmake/Modules/GetGitRevisionDescription.cmake.in
  builds/release-helper.sh
  configure.ac
  resources/osx/Info.plist.in
  resources/psvita/template.xml.in
  resources/unix/easyrpg-player.6.adoc
  resources/wii/meta.xml.in
  resources/windows/player.ico
  resources/windows/player.rc.in
  resources/windows/player.xcf
  resources/windows/player.xml
  src/input_source.cpp
  src/player.cpp
  src/player.h
  src/version.cpp
  src/version.h
  src/window_about.cpp
Labels: Building

#2776 Fixup for building libretro core and Windows port
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  resources/psvita/template.xml.in
  resources/wii/meta.xml.in
  resources/windows/player.rc.in
  src/platform/libretro/libretro_ui.cpp
Labels: Building

#2779 Disallow canceling in command menu in traditional type battles
  src/scene_battle_rpg2k3.cpp
Labels: Battle

#2780 Make the number of level digits dependent on the global maximum level
  src/window_base.cpp
Labels: Window/Scenes

#2777 Maniac Patch: Fix out of bounds read in Move Picture
  src/game_interpreter.cpp
  src/player.cpp
Labels: Event/Interpreter, RPG_RT Patches

#2782 Use premultiplied alpha for Tone Blit
  bench/rtp.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/opacity.h
  src/weather.cpp
Labels: Bitmaps, Performance

#2784 Remember ATB order
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Battle

#2787 FileSystem: Support / and drive:/
  src/directory_tree.cpp
  src/filefinder.cpp
  src/filesystem.cpp
  tests/assets/filesystem/test.zip
  tests/filefinder.cpp
  tests/filesystem_zip.cpp
Labels: FileFinder

#2788 ZipFs: Disable built-in cache
  src/filesystem_stream.cpp
  src/filesystem_stream.h
  src/filesystem_zip.cpp
  src/filesystem_zip.h
Labels: FileFinder, Performance

#2791 PS Vita: Update to latest libvita2d
  CMakeLists.txt
  src/platform/psvita/psp2_ui.cpp
Labels: PSVita

#2792 3ds: Fix romfs:/
  CMakeLists.txt
  src/directory_tree.cpp
  src/main_data.cpp
  src/player.cpp
  src/player.h
  tests/filefinder.cpp
Labels: FileFinder, 3DS

#2789 VITA: add ability to invoke app with game path provided via boot parameter
  src/main_data.cpp
Labels: PSVita

#2793 Fixup CMake generator expressions
  .editorconfig
  CMakeLists.txt
  resources/emscripten/emscripten-post.js
  src/player.cpp
Labels: Building
