Repository EasyRPG/Player, pull requests merged in 2022-03, with the labels that each got.

#2743 Emscripten: basic Web Gamepad support
  resources/emscripten/emscripten-shell.html
  src/sdl2_ui.cpp
  src/sdl2_ui.h
Labels: Emscripten, Input

#2749 Windows: Support mpg123 1.28.1 and newer
  src/decoder_mpg123.cpp
Labels: Building, Win32

#2709 Add AI settings for actors and enemies
  src/autobattle.h
  src/enemyai.h
  src/game_actor.h
  src/game_config.cpp
  src/game_config.h
  src/game_enemy.h
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Database, Enhancement

#2751 Homebrew: CPack for distribution/debug archives
  CMakeLists.txt
Labels: Building, Wii, 3DS, PSVita, Switch

#2735 Maniac Patch: Implement GetPictureInfo
  src/async_op.h
  src/game_interpreter.cpp
  src/game_pictures.cpp
  src/game_pictures.h
Labels: Event/Interpreter, RPG_RT Patches

#2733 Maniac Patch: Add ControlVarArray and Bit Ops for Variables
  src/game_interpreter.cpp
  src/game_variables.cpp
  src/game_variables.h
  tests/variables.cpp
Labels: Event/Interpreter, RPG_RT Patches

#2734 Proper overflow handling
  src/game_variables.cpp
  src/player.cpp
  src/window_numberinput.cpp
  src/window_numberinput.h
  tests/variables.cpp
Labels: Event/Interpreter, RPG_RT Patches

#2741 Maniac Pictures: Support Origin, Fixed Angle and Frames for duration
  src/game_interpreter.cpp
  src/game_pictures.cpp
  src/game_pictures.h
  src/sprite_picture.cpp
Labels: RPG_RT Patches, Pictures

#2750 Delete unused code.
  src/graphics.cpp
Labels: Graphics
