Repository EasyRPG/Player, pull requests merged in 2022-09, with the labels that each got.

#2560 Android: Support launching of game.zip directly from the APK
  .gitignore
  CMakeLists.txt
  builds/android/.gitignore
  builds/android/app/build.gradle
  builds/android/app/src/main/AndroidManifest.xml
  builds/android/app/src/main/java/org/easyrpg/player/InitActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/InputLayout.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/Game.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/player/AssetUtils.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  builds/android/assets/build.gradle
  builds/android/assets/src/main/assets/.gitkeep
  builds/android/settings.gradle
  src/filesystem_root.cpp
  src/platform/android/filesystem_apk.cpp
  src/platform/android/filesystem_apk.h
Labels: Android

#2797 Maniac Patch: Final contribution
  CMakeLists.txt
  Makefile.am
  bench/bitmap.cpp
  bench/pixel_format.cpp
  builds/cmake/Modules/ConfigureWindows.cmake
  src/bitmap.cpp
  src/game_battler.cpp
  src/game_enemy.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_control_variables.cpp
  src/game_interpreter_control_variables.h
  src/game_pictures.cpp
  src/game_screen.cpp
  src/game_variables.cpp
  src/input_source.cpp
  src/main_data.cpp
  src/main_data.h
  src/maniac_patch.cpp
  src/maniac_patch.h
  src/player.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/shake.h
  src/sprite_picture.cpp
  src/transition.cpp
  src/weather.cpp
  src/window.cpp
Labels: Event/Interpreter, RPG_RT Patches

#2840 Small fixes + manual page improvement + cmake bump
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  Makefile.am
  builds/cmake/Modules/PlayerBuildType.cmake
  builds/cmake/Modules/PlayerConfigureWindows.cmake
  builds/cmake/Modules/PlayerMisc.cmake
  configure.ac
  resources/unix/easyrpg-player.6.adoc
  resources/unix/gen-web-manual.rb
Labels: Building, 3DS, Switch

#2845 Control Variables: Enable modulo in vanilla RPG_RT
  src/game_interpreter.cpp
Labels: Event/Interpreter

#2846 Android: Update SDL and Gradle
  builds/android/app/build.gradle
  builds/android/app/src/main/java/org/easyrpg/player/InitActivity.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceBLESteamController.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLAudioManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLControllerManager.java
  builds/android/build.gradle
  builds/android/gradle/wrapper/gradle-wrapper.jar
  builds/android/gradle/wrapper/gradle-wrapper.properties
  builds/android/gradlew
  builds/android/gradlew.bat
  builds/cmake/Modules/FindSDL2.cmake
Labels: Android

#2827 3DS: 2 bugfixes, 1 feature, a bit of cleanup
  CMakeLists.txt
  resources/3ds/battery/1bar.png
  resources/3ds/battery/2bars.png
  resources/3ds/battery/3bars.png
  resources/3ds/battery/4bars.png
  resources/3ds/battery/adapter.png
  resources/3ds/battery/battery.xcf
  resources/3ds/battery/empty.png
  resources/3ds/battery/full.png
  src/platform/3ds/audio.cpp
  src/platform/3ds/audio.h
  src/platform/3ds/main.cpp
  src/platform/3ds/ui.cpp
  src/platform/3ds/ui.h
Labels: 3DS
