Repository EasyRPG/Player, pull requests merged in 2022-04, with the labels that each got.

#2726 Add "easyrpg_affected_by_row_modifiers" attribute for skills
  src/algo.cpp
  src/algo.h
  src/autobattle.cpp
  src/autobattle.h
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/scene_battle_rpg2k3.cpp
  tests/algo.cpp
Labels: Battle, Enhancement

#2757 SDL2: Add integer scaling support
  src/baseui.cpp
  src/baseui.h
  src/game_config.cpp
  src/game_config.h
  src/sdl2_ui.cpp
  src/sdl2_ui.h
Labels: Enhancement, Video

#2762 Resampler: Fix crackles when looping the audio
  src/audio_decoder_base.h
  src/audio_resampler.cpp
  src/audio_resampler.h
Labels: Audio

#2768 Support building on newer versions of macOS
  builds/cmake/Modules/FindSDL2.cmake
Labels: Building, macOS

#2770 Fix Wolfenhain & EHR battle (#2753)
  src/game_interpreter_battle.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle, Regression
