Repository EasyRPG/Player, pull requests merged in 2022-02, with the labels that each got.

#2717 Allow leaving tiles that are out-of-bounds
  src/game_map.cpp
Labels: Maps

#2714 Yume2kki: Fix Panorama handling
  src/async_op.h
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_system.cpp
  src/scene_map.cpp
  src/spriteset_map.cpp
  src/spriteset_map.h
Labels: Maps

#2698 Switch: Change Applet handling
  src/platform/switch/switch_ui.cpp
  src/platform/switch/switch_ui.h
  src/player.cpp
Labels: UX, Switch

#2725 Raise the priority of WQY when encoding is Chinese Simplified.
  src/font.cpp
Labels: Fonts

#2697 Add more custom game settings in the database
  CMakeLists.txt
  Makefile.am
  src/algo.cpp
  src/algo.h
  src/attribute.cpp
  src/autobattle.cpp
  src/battle_message.cpp
  src/feature.cpp
  src/feature.h
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_battler.h
  src/game_enemy.cpp
  src/game_enemy.h
  src/game_map.cpp
  src/game_message.cpp
  src/game_party.cpp
  src/game_player.cpp
  src/game_system.cpp
  src/scene_actortarget.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_menu.cpp
  src/state.cpp
  src/window_actorinfo.cpp
  src/window_battlecommand.cpp
  src/window_battlemessage.cpp
  src/window_battlestatus.cpp
  src/window_menustatus.cpp
  tests/algo.cpp
Labels: Database, Enhancement

#2649 Maniac: Implement Loop and Break Loop enhancements
  src/game_interpreter.cpp
  src/game_interpreter.h
Labels: Event/Interpreter, RPG_RT Patches

#2710 Support RPG Maker 2003 battle commands in RPG Maker 2000 battles
  src/algo.cpp
  src/game_player.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k.h
Labels: Database, Enhancement

#2723 Translation enhancements
  resources/easyrpg-player.6.adoc
  src/async_handler.cpp
  src/async_handler.h
  src/cache.cpp
  src/cache.h
  src/game_actor.cpp
  src/game_actor.h
  src/game_actors.cpp
  src/game_actors.h
  src/game_map.cpp
  src/game_map.h
  src/graphics.cpp
  src/player.cpp
  src/player.h
  src/scene.cpp
  src/scene.h
  src/scene_gamebrowser.cpp
  src/scene_logo.cpp
  src/scene_map.cpp
  src/scene_map.h
  src/scene_title.cpp
  src/scene_title.h
  src/translation.cpp
  src/translation.h
Labels: UX, Database, Enhancement

#2728 Fluidsynth: More flexible soundfont configuration
  resources/easyrpg-player.6.adoc
  src/decoder_fluidsynth.cpp
  src/decoder_fluidsynth.h
  src/filefinder_rtp.cpp
  src/player.cpp
Labels: MIDI

#2739 Zip FS: Support ZIP archives created by broken archivers
  src/filesystem_zip.cpp
Labels: FileFinder

#2738 Fix for #2737 Using stream FS for Maniacs savefile operations
  src/game_interpreter.cpp
Labels: RPG_RT Patches
