Repository EasyRPG/Player, pull requests merged in 2023-09, with the labels that each got.

#3059 Various small fixes
  README.md
  src/decoder_drwav.cpp
  src/game_actor.cpp
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_party.cpp
  src/platform/libretro/ui.cpp
  src/player.cpp
  src/scene.cpp
  src/scene_debug.cpp
  src/scene_map.cpp
  src/transition.cpp
  src/translation.cpp
  src/translation.h
Labels: Window/Scenes, Audio, Crash, Documentation, Battle, Emscripten, Feature Request, RPG_RT Patches, libretro, Transitions, MIDI, RPG_RT Bugs, Maps, Input, Translation, Heuristics

#3074 Debug scene: Add option to set the hero movement speed
  src/scene_debug.cpp
  src/scene_debug.h
Labels: Window/Scenes, Enhancement

#2369 Add DynText Plugin
  CMakeLists.txt
  Makefile.am
  src/dynrpg.cpp
  src/dynrpg_textplugin.cpp
  src/dynrpg_textplugin.h
  src/game_message.cpp
  src/game_message.h
  src/game_pictures.h
  src/pending_message.cpp
  src/pending_message.h
  src/scene_map.cpp
  src/sprite_picture.cpp
Labels: RPG_RT Patches

#3080 First attempt at a fix for multi-game functionality
  src/meta.cpp
  src/scene_import.cpp
Labels: FileFinder, RPG_RT Patches, Regression

#3052 Battle 2k3: fixed battler facing direction + horizontal ally/enemy select
  src/feature.cpp
  src/feature.h
  src/game_battler.h
  src/scene_battle_rpg2k3.cpp
  src/sprite_actor.cpp
  src/sprite_battler.h
  src/sprite_enemy.cpp
  src/window_battlestatus.cpp
  src/window_selectable.cpp
  src/window_selectable.h
Labels: Battle, Enhancement

#3087 Ineluki MP3 patch improvements
  src/filesystem_stream.cpp
  src/filesystem_stream.h
  src/game_system.cpp
  src/game_system.h
Labels: Audio, RPG_RT Patches

#3088 7thjojo battle fixes
  src/game_actor.cpp
  src/game_battler.cpp
  src/sprite_enemy.cpp
Labels: Battle

#3095 Detect the engine version for "Ahriman's Prophecy" correctly
  src/exe_reader.cpp
Labels: RPG_RT Patches, Heuristics

#3090 Fix broken native midiout playback after playing a song that alters pitch bend
  src/audio_decoder_midi.cpp
Labels: Audio, MIDI

#3105 Makes speed_modifiew supew dupew fast xD 🎶🎶🎶
  src/game_config.cpp
  src/game_config.h
  src/player.cpp
  src/player.h
  src/window_settings.cpp
Labels: Settings
