Repository EasyRPG/Player, pull requests merged in 2023-12, with the labels that each got.

#3167 Initial WiiU support
  CMakeLists.txt
  src/audio_midi.h
  src/decoder_wildmidi.cpp
  src/decoder_xmp.cpp
  src/filefinder_rtp.cpp
  src/game_config.cpp
  src/input_buttons_desktop.cpp
  src/platform/clock.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/platform/sdl/sdl_audio.cpp
  src/platform/sdl/sdl_ui.cpp
  src/platform/wii/input_buttons.cpp
  src/platform/wiiu/input_buttons.cpp
  src/system.h
Labels: Building, WiiU

#3133 Game_Browser - Autorun a specific game
  src/filefinder.cpp
  src/filefinder.h
  src/scene_gamebrowser.cpp
  src/scene_logo.cpp
Labels: UX, Enhancement

#3160 Battle fixes
  src/enemyai.cpp
  src/game_interpreter_battle.cpp
  src/game_interpreter_battle.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
Labels: Battle, Needs feedback

#3177 Effects cache: Fix memory leak
  src/cache.cpp
Labels: Bitmaps, Performance
