Repository EasyRPG/Player, pull requests merged in 2023-06, with the labels that each got.

#3021 3DS: Transitions are not blue anymore
  src/platform/3ds/ui.cpp
Labels: 3DS

#3020 Fixes related to Input
  src/game_interpreter.cpp
  src/scene.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_debug.cpp
  src/scene_debug.h
  src/scene_map.cpp
  src/scene_map.h
  src/window_settings.cpp
Labels: Input

#3018 Refactor MapInfo API
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
Labels: Refactor

#3004 Emscripten: retry download on uncommon failure
  src/async_handler.cpp
Labels: Emscripten
