Repository EasyRPG/Player, pull requests merged in 2023-11, with the labels that each got.

#3107 Update key descwiptions
  src/game_config.cpp
  src/game_config.h
  src/input_buttons.h
  src/input_buttons_desktop.cpp
  src/platform/3ds/input_buttons.cpp
  src/platform/android/org_easyrpg_player_player_EasyRpgPlayerActivity.cpp
  src/platform/libretro/input_buttons.cpp
  src/platform/psp/psp_input_buttons.cpp
  src/platform/psvita/input_buttons.cpp
  src/platform/switch/input_buttons.cpp
  src/platform/wii/input_buttons.cpp
  src/player.cpp
  src/player.h
  src/window_settings.cpp
Labels: Settings

#3033 Support games in LZH archives
  CMakeLists.txt
  Makefile.am
  README.md
  builds/cmake/Modules/Findlhasa.cmake
  configure.ac
  src/filefinder.cpp
  src/filefinder.h
  src/filesystem.cpp
  src/filesystem_lzh.cpp
  src/filesystem_lzh.h
  src/filesystem_zip.cpp
  src/game_strings.cpp
  src/window_gamelist.cpp
  src/window_settings.cpp
Labels: UX, Enhancement

#3141 Refactor String Vars
  src/game_interpreter.cpp
  src/game_message.cpp
  src/game_strings.cpp
  src/game_strings.h
  src/game_windows.cpp
  src/maniac_patch.cpp
  src/maniac_patch.h
Labels: Performance, Refactor

#3150 Android SDL2: Update to 2.28.5
  .gitattributes
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceBLESteamController.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceManager.java
  builds/android/app/src/main/java/org/libsdl/app/HIDDeviceUSB.java
  builds/android/app/src/main/java/org/libsdl/app/SDL.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLAudioManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLControllerManager.java
  builds/android/app/src/main/java/org/libsdl/app/SDLSurface.java
Labels: Android, Has PR Dependencies

#3140 Maniac: Implement CallCommand and String Vars
  src/game_interpreter.cpp
  src/game_interpreter.h
Labels: RPG_RT Patches

#3148 MacOS Fixes
  CMakeLists.txt
  Makefile.am
  src/audio_decoder_midi.cpp
  src/audio_midi.h
  src/decoder_fluidsynth.cpp
  src/decoder_fluidsynth.h
  src/main_data.cpp
  src/platform/macos/macos_utils.h
  src/platform/macos/macos_utils.mm
  src/platform/macos/midiout_device_coreaudio.cpp
  src/platform/macos/midiout_device_coreaudio.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl_audio.cpp
  src/platform/sdl/sdl_audio.h
  src/platform/sdl/sdl_ui.cpp
Labels: Audio, macOS, MIDI

#3151 Small fixes
  src/async_handler.cpp
  src/async_handler.h
  src/audio.cpp
  src/filefinder.cpp
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_strings.cpp
  src/input_buttons.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/platform/sdl/sdl_ui.cpp
  src/platform/sdl/sdl_ui.h
  src/scene.cpp
  src/scene_debug.cpp
  src/scene_settings.cpp
  src/window_settings.cpp
Labels: Event/Interpreter, Window/Scenes, Audio, Crash, Building, Emscripten, Hang, RPG_RT Patches, Regression, RPG_RT Bugs, Input
