Repository EasyRPG/Player, pull requests merged in 2023-10, with the labels that each got.

#3115 Update dr_wav to v0.13.12
  src/external/dr_wav.h
Labels: Audio

#3096 Custom Logos at Startup
  src/player.cpp
  src/scene_gamebrowser.cpp
  src/scene_logo.cpp
  src/scene_logo.h
Labels: Window/Scenes, Enhancement

#3120 Revamp MakeWay() and split it into CheckWay()/MakeWay()
  src/game_character.cpp
  src/game_character.h
  src/game_map.cpp
  src/game_map.h
Labels: Enhancement, Move Routes

#3092 Midi: Properly shutdown and reinitialize
  src/audio_generic.cpp
  src/audio_generic.h
  src/audio_generic_midiout.h
  src/audio_midi.cpp
  src/audio_midi.h
  src/decoder_fluidsynth.cpp
  src/decoder_fluidsynth.h
  src/decoder_wildmidi.cpp
  src/decoder_wildmidi.h
  src/scene_gamebrowser.cpp
Labels: Audio
