Repository EasyRPG/Player, pull requests merged in 2023-03, with the labels that each got.

#2859 Add Harfbuzz support
  bench/font.cpp
  builds/cmake/Modules/FindHarfbuzz.cmake
  src/async_handler.cpp
  src/bitmap.cpp
  src/font.cpp
  src/font.h
  src/fps_overlay.cpp
  src/game_message.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_end.cpp
  src/string_view.h
  src/text.cpp
  src/text.h
  src/utils.cpp
  src/window_base.cpp
  src/window_command.cpp
  src/window_command_horizontal.cpp
  src/window_equipstatus.cpp
  src/window_help.cpp
  src/window_keyboard.cpp
  src/window_message.cpp
  src/window_message.h
  src/window_name.cpp
  src/window_savefile.cpp
  src/window_settings.cpp
  tests/font.cpp
  tests/utf.cpp
Labels: Fonts, Refactor

#2878 Add CMakePresets.json file to make building Player much easier
  .gitattributes
  CMakeLists.txt
  CMakePresets.json
  builds/cmake/CMakePresets.json.template
  builds/cmake/CMakePresetsBase.json
  builds/cmake/CMakePresetsUser.json
  builds/cmake/LinuxToolchain.cmake
  builds/cmake/Modules/FindFluidLite.cmake
  builds/cmake/Modules/FindFluidSynth.cmake
  builds/cmake/Modules/FindLibSndFile.cmake
  builds/cmake/Modules/FindSndFile.cmake
  builds/cmake/Modules/FindVorbis.cmake
  builds/cmake/Modules/Findfreetype.cmake
  builds/cmake/Modules/Findharfbuzz.cmake
  builds/cmake/Modules/Findmpg123.cmake
  builds/cmake/Modules/PlayerFindPackage.cmake
  builds/cmake/gen-cmake-presets.py
Labels: Building

#2897 Custom Resolution 2/?
  src/background.cpp
  src/baseui.h
  src/battle_animation.cpp
  src/game_battler.cpp
  src/game_event.cpp
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_quit.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/message_overlay.cpp
  src/message_overlay.h
  src/options.h
  src/plane.cpp
  src/platform/libretro/ui.cpp
  src/platform/libretro/ui.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/player.cpp
  src/player.h
  src/scene_actortarget.cpp
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/scene_end.cpp
  src/scene_equip.cpp
  src/scene_file.cpp
  src/scene_gamebrowser.cpp
  src/scene_gameover.cpp
  src/scene_import.cpp
  src/scene_item.cpp
  src/scene_logo.cpp
  src/scene_map.cpp
  src/scene_menu.cpp
  src/scene_name.cpp
  src/scene_order.cpp
  src/scene_settings.cpp
  src/scene_settings.h
  src/scene_shop.cpp
  src/scene_skill.cpp
  src/scene_status.cpp
  src/scene_teleport.cpp
  src/scene_title.cpp
  src/screen.cpp
  src/sprite.cpp
  src/sprite_timer.cpp
  src/spriteset_map.cpp
  src/tilemap_layer.cpp
  src/transition.cpp
  src/window_message.cpp
  src/window_shopbuy.h
Labels: Enhancement

#2917 Flatpak: Make EasyRPG logo square and minified
  resources/unix/easyrpg-player.svg
Labels: Building

#2914 Maniac: BGM/SE/Wait enhancements
  .gitignore
  src/game_interpreter.cpp
  src/game_interpreter.h
Labels: Event/Interpreter, RPG_RT Patches

#2900 Emscripten viewport
  resources/emscripten/emscripten-shell.html
  src/platform/sdl/sdl2_ui.cpp
  src/player.cpp
Labels: Emscripten

#2921 Use Unicode saves when translations are loaded
  src/scene_save.cpp
Labels: Translation

#2924 Mouse & Touch input
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  resources/unix/bash-completion/easyrpg-player
  resources/unix/easyrpg-player.6.adoc
  src/async_handler.cpp
  src/baseui.h
  src/game_ineluki.cpp
  src/game_interpreter.cpp
  src/input.cpp
  src/input_buttons.h
  src/input_buttons_desktop.cpp
  src/input_source.cpp
  src/input_source.h
  src/keys.h
  src/options.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/player.cpp
  src/player.h
  src/system.h
  src/window_settings.cpp
Labels: Settings, Input

#2886 Android: Support games in ZIP archives
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser_GameScanner.cpp
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser_GameScanner.h
  builds/android/app/src/main/java/org/easyrpg/player/Helper.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/ButtonMappingActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/VirtualButton.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/Encoding.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/Game.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameScanner.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/IniFileManager.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/IniFile.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsEnum.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  builds/android/app/src/main/res/menu/game_browser_drawer.xml
  builds/android/app/src/main/res/values/strings.xml
Labels: Android

#2927 Bugfix: When loading a save do not recreate detached StringPictures
  src/game_pictures.cpp
  src/game_pictures.h
  src/game_windows.cpp
Labels: Savegames

#2923 Use more Exe information for the version detection
  src/exe_reader.cpp
  src/exe_reader.h
  src/filefinder.cpp
  src/player.cpp
Labels: Heuristics

#2922 Custom Resolution 3/?, Config 4/?
  .editorconfig
  CMakeLists.txt
  Makefile.am
  builds/android/app/src/main/java/org/easyrpg/player/settings/IniFile.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsEnum.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsVideoActivity.java
  builds/android/app/src/main/res/layout/activity_settings_video.xml
  builds/android/app/src/main/res/values/strings.xml
  resources/unix/easyrpg-player.6.adoc
  src/baseui.cpp
  src/baseui.h
  src/config_param.h
  src/game_config.cpp
  src/game_config.h
  src/game_config_game.cpp
  src/game_config_game.h
  src/game_interpreter.cpp
  src/game_interpreter_control_variables.cpp
  src/game_player.cpp
  src/game_player.h
  src/game_quit.cpp
  src/game_quit.h
  src/options.h
  src/platform/libretro/ui.cpp
  src/platform/libretro/ui.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/player.cpp
  src/player.h
  src/scene_end.cpp
  src/scene_end.h
  src/scene_gamebrowser.cpp
  src/scene_settings.cpp
  src/scene_title.cpp
  src/sprite_picture.cpp
  src/window_settings.cpp
  src/window_settings.h
  tests/config_param.cpp
  tests/test_mock_actor.h
Labels: Enhancement, Refactor, RPG_RT Patches, Settings

#2863 Android: Support SDL 2.26 & more lib fixes
  CMakeLists.txt
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLSurface.java
  resources/emscripten/emscripten-shell.html
Labels: Android, Emscripten, 3DS, Switch

#2931 Add some Panorama legacy mode support
  src/game_config_game.cpp
  src/game_map.cpp
  src/game_map.h
  src/spriteset_map.cpp
Labels: Graphics

#2934 Translation update
  builds/android/app/src/main/res/values-be/strings.xml
  builds/android/app/src/main/res/values-ca/strings.xml
  builds/android/app/src/main/res/values-de/strings.xml
  builds/android/app/src/main/res/values-el/strings.xml
  builds/android/app/src/main/res/values-es/strings.xml
  builds/android/app/src/main/res/values-fr/strings.xml
  builds/android/app/src/main/res/values-hu/strings.xml
  builds/android/app/src/main/res/values-ia/strings.xml
  builds/android/app/src/main/res/values-in/strings.xml
  builds/android/app/src/main/res/values-it/strings.xml
  builds/android/app/src/main/res/values-ja/strings.xml
  builds/android/app/src/main/res/values-ko/strings.xml
  builds/android/app/src/main/res/values-pl/strings.xml
  builds/android/app/src/main/res/values-pt-rBR/strings.xml
  builds/android/app/src/main/res/values-ru/strings.xml
  builds/android/app/src/main/res/values-th/strings.xml
  builds/android/app/src/main/res/values-tr/strings.xml
  builds/android/app/src/main/res/values-uk/strings.xml
  builds/android/app/src/main/res/values-zh-rTW/strings.xml
  builds/android/app/src/main/res/values-zh/strings.xml
  builds/android/metadata/fr-FR/full_description.txt
Labels: Android, Translation

#2933 Font fixes
  src/font.cpp
Labels: Fonts

#2935 Android: Update app store text
  builds/android/metadata/de-DE/full_description.txt
  builds/android/metadata/de-DE/short_description.txt
  builds/android/metadata/en-US/full_description.txt
  builds/android/metadata/en-US/short_description.txt
  builds/android/metadata/en-US/title.txt
  builds/android/metadata/ja-JP/title.txt
  builds/android/metadata/zh-CN/title.txt
  builds/android/metadata/zh-TW/title.txt
Labels: Android, Translation
