Repository EasyRPG/Player, pull requests merged in 2024-08, with the labels that each got.

#3252 Fix compiling OpenDingux code path with SDL 1.2
  src/platform/opendingux/opendingux_input_buttons.cpp
Labels: Building

#3251 Fix compilation errors when Resamping is disabled
  src/audio_midi.cpp
Labels: Audio, Building, MIDI

#3259 Yume2kki fixes
  src/bitmap.cpp
  src/bitmap.h
  src/cache.cpp
  src/game_interpreter.cpp
Labels: Event/Interpreter
