Repository EasyRPG/Player, pull requests merged in 2024-11, with the labels that each got.

#3290 Implemented Maniacs Command 3011: ChangeBattleCommandEx
  src/game_interpreter_battle.cpp
  src/scene_battle.cpp
  src/scene_battle.h
  src/scene_battle_rpg2k3.cpp
Labels: Event/Interpreter, Battle, RPG_RT Patches

#3291 Implemented Maniacs Command 3010: ControlATBGauge
  src/game_interpreter_battle.cpp
Labels: Event/Interpreter, Battle, RPG_RT Patches

#3288 Refactor Dynrpg namespace into a class. Whitelist @easyrpg_ commands
  CMakeLists.txt
  Makefile.am
  src/dynrpg_easyrpg.cpp
  src/dynrpg_easyrpg.h
  src/dynrpg_textplugin.cpp
  src/dynrpg_textplugin.h
  src/game_dynrpg.cpp
  src/game_dynrpg.h
  src/game_interpreter.cpp
  src/main_data.cpp
  src/main_data.h
  src/player.cpp
  src/scene_map.cpp
  src/scene_save.cpp
  src/spriteset_map.cpp
  tests/dynrpg.cpp
  tests/test_mock_actor.h
Labels: Window/Scenes, Building, Tests

#3294 Implemented Maniacs Command 3012: GetBattleInfo
  src/game_battler.h
  src/game_interpreter_battle.cpp
Labels: Event/Interpreter, Battle, Awaiting Rebase, RPG_RT Patches

#3131 Destiny Patch support
  CMakeLists.txt
  Makefile.am
  src/game_config_game.cpp
  src/game_config_game.h
  src/game_destiny.cpp
  src/game_destiny.h
  src/game_interpreter.cpp
  src/main_data.cpp
  src/main_data.h
  src/player.cpp
  src/player.h
  tests/game_destiny.cpp
Labels: RPG_RT Patches

#3293 Fix Beloved Rapture Menu issues
  src/cache.cpp
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_pictures.cpp
  src/game_strings.cpp
  src/maniac_patch.cpp
  src/sprite_enemy.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3215 New Command 2055 - Process JSON Code
  CMakeLists.txt
  Makefile.am
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_strings.cpp
  src/game_strings.h
  src/json_helper.cpp
  src/json_helper.h
Labels: Event/Interpreter, EasyRPG

#3302 Maniacs Feature - Add .relative & .centered support on PixelPanScreen
  src/game_player.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3300 Add callback API, update PR labeler
  .github/labeler.yml
  CMakeLists.txt
  Makefile.am
  src/callback.h
  src/player.cpp
Labels: Building

#3304 Fix Issue 3301
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/pending_message.h
Labels: Event/Interpreter, Window/Scenes, Messages

#3299 Regression Fixes
  src/game_interpreter_map.cpp
  src/game_windows.cpp
  src/scene_name.cpp
  src/scene_name.h
  src/window.cpp
  src/window.h
Labels: Window/Scenes, Regression
