Repository EasyRPG/Player, pull requests merged in 2024-12, with the labels that each got.

#3306 Partially implement Maniacs Command 3015: RewriteMap
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
  src/map_data.h
  src/spriteset_map.cpp
  src/spriteset_map.h
  src/tilemap.h
  src/tilemap_layer.cpp
  src/tilemap_layer.h
Labels: Event/Interpreter, RPG_RT Patches, Maps

#3303 String Variables: Operate on Codepoints
  src/game_interpreter.cpp
  src/game_interpreter_shared.cpp
  src/game_strings.cpp
  src/game_strings.h
  src/maniac_patch.cpp
  src/utils.cpp
  src/utils.h
  tests/utf.cpp
Labels: Event/Interpreter, RPG_RT Patches, Tests

#3295 Implement Maniacs Command 3009: ControlBattle
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_battlealgorithm.h
  src/game_battler.cpp
  src/game_battler.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_battle.h
  src/game_party_base.cpp
  src/game_party_base.h
  src/scene_battle.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_battle_rpg2k3.h
Labels: Event/Interpreter, Window/Scenes, Battle, RPG_RT Patches

#3312 MoveRoute - Support Variables as Event ID (Maniac patch feature)
  src/game_interpreter.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3313 Erase Event - Erase By ID + Recreate Event Option (Maniac Patch Feature)
  src/game_interpreter.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3317 ExeReader: Support 64 Bit executables
  src/exe_reader.cpp
  src/exe_reader.h
Labels: RPG_RT Patches

#3316 Android: Add game label configuration, rename buttons to X/Z
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser.cpp
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/VirtualButton.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/Game.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsEnum.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsInputActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  builds/android/app/src/main/res/drawable/ic_view_list_black.xml
  builds/android/app/src/main/res/drawable/ic_view_list_white.xml
  builds/android/app/src/main/res/layout/activity_settings_inputs.xml
  builds/android/app/src/main/res/menu/game_browser.xml
  builds/android/app/src/main/res/values/strings.xml
  src/exe_reader.cpp
  src/exe_reader.h
Labels: Android
