Repository EasyRPG/Player, pull requests merged in 2024-10, with the labels that each got.

#3218 New Command 2056/2057 - Clone/Destroy Map Event
  src/async_op.h
  src/battle_animation.cpp
  src/battle_animation.h
  src/game_character.h
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_map.cpp
  src/game_map.h
  src/game_player.cpp
  src/game_screen.cpp
  src/game_screen.h
  src/player.cpp
  src/scene_item.cpp
  src/scene_map.cpp
  src/scene_order.cpp
  src/scene_skill.cpp
  src/sprite_character.cpp
Labels: Event/Interpreter, Enhancement, EasyRPG

#3282 Reset UI on WebGL context loss
  resources/emscripten/emscripten-pre.js
  src/platform/emscripten/interface.cpp
  src/platform/emscripten/interface.h
  src/platform/emscripten/main.cpp
Labels: Emscripten

#3281 Maniac Event command (regression) fixes
  src/cache.cpp
  src/filesystem_zip.cpp
  src/game_interpreter.cpp
  src/main_data.cpp
  src/main_data.h
  src/player.cpp
Labels: Event/Interpreter, RPG_RT Patches, Regression
