Repository EasyRPG/Player, pull requests merged in 2024-05, with the labels that each got.

#3212 StringVariable's ToFile - Relax File extension and path
  src/game_strings.cpp
Labels: EasyRPG

#3202 3DS render changes
  src/platform/3ds/main.cpp
  src/platform/3ds/ui.cpp
  src/platform/3ds/ui.h
Labels: 3DS

#3209 Add EasyRPG "Patch" Flag to conditionally enable/disable some of our extensions
  resources/unix/easyrpg-player.6.adoc
  src/battle_animation.cpp
  src/bitmap.cpp
  src/bitmap.h
  src/cache.cpp
  src/game_character.cpp
  src/game_character.h
  src/game_config_game.cpp
  src/game_config_game.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter_map.cpp
  src/game_player.cpp
  src/game_player.h
  src/game_strings.cpp
  src/game_vehicle.cpp
  src/game_vehicle.h
  src/image_bmp.cpp
  src/image_bmp.h
  src/image_png.cpp
  src/image_png.h
  src/image_xyz.cpp
  src/image_xyz.h
  src/player.cpp
  src/player.h
  src/sprite_airshipshadow.cpp
  src/sprite_airshipshadow.h
  src/sprite_character.cpp
  src/sprite_character.h
  src/spriteset_map.cpp
  tests/cmdline_parser.cpp
  tests/game_character.cpp
Labels: RPG_RT Patches, EasyRPG

#3223 Fix Flatpak building
  CMakeLists.txt
  builds/flatpak/org.easyrpg.player.yml
Labels: Building

#3192 DirectMenuPatch
  resources/unix/easyrpg-player.6.adoc
  src/game_config_game.cpp
  src/game_config_game.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_player.cpp
  src/player.cpp
  src/scene_equip.cpp
  src/scene_equip.h
  src/scene_menu.cpp
  src/scene_skill.cpp
  src/scene_skill.h
  src/scene_status.cpp
  src/scene_status.h
  src/window_actorinfo.cpp
  src/window_actorinfo.h
  src/window_actorstatus.cpp
  src/window_actorstatus.h
  src/window_battlecommand.cpp
  src/window_battlecommand.h
  src/window_equip.cpp
  src/window_equip.h
  src/window_equipitem.cpp
  src/window_equipitem.h
  src/window_equipstatus.cpp
  src/window_equipstatus.h
  src/window_face.cpp
  src/window_face.h
  src/window_paramstatus.cpp
  src/window_paramstatus.h
  src/window_skill.cpp
  src/window_skill.h
  src/window_skillstatus.cpp
  src/window_skillstatus.h
Labels: Enhancement, RPG_RT Patches

#3228 Add nlohmann json, remove picojson
  .gitattributes
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  Makefile.am
  README.md
  configure.ac
  src/async_handler.cpp
  src/external/picojson.h
  src/window_settings.cpp
Labels: Building, Emscripten

#3231 Regression fix of the Scene refactor: Battle skills were not listed correctly
  src/async_handler.cpp
  src/audio_decoder_midi.cpp
  src/dynrpg_textplugin.cpp
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_strings.cpp
  src/game_strings.h
  src/maniac_patch.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_equip.cpp
  src/scene_skill.cpp
  src/scene_skill.h
  src/scene_status.cpp
  src/scene_status.h
  src/sprite_airshipshadow.h
  src/sprite_character.h
  src/spriteset_map.cpp
  src/utils.cpp
Labels: Battle, Regression
