Repository EasyRPG/Player, pull requests merged in 2024-04, with the labels that each got.

#3199 Resolve metainfo linter warnings
  builds/flatpak/org.easyrpg.player.yml
  resources/unix/easyrpg-player.metainfo.xml
Labels: Building, Has PR Dependencies

#3201 CMake: Add WiiU preset
  CMakeLists.txt
  CMakePresets.json
  builds/cmake/CMakePresets.json.template
Labels: Building

#3195 Fix move picture crash, fix emscripten regressions
  resources/emscripten/emscripten-pre.js
  resources/emscripten/emscripten-shell.html
  src/game_actor.cpp
  src/game_interpreter.cpp
  src/game_party.cpp
  src/game_pictures.cpp
  src/platform/sdl/sdl2_ui.cpp
  src/scene_title.cpp
Labels: Crash, Emscripten, Regression

#3183 New Command: 2002 - Trigger Event At [x,y]
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_player.cpp
  src/game_player.h
Labels: Event/Interpreter, Enhancement

#3180 Maniacs Feature: Add separate Width/Height parameters for scaling pictures, Picture StringVar, Tint Variable
  src/game_interpreter.cpp
  src/game_pictures.cpp
  src/game_pictures.h
  src/sprite_picture.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3194 AntiLag measures
  resources/unix/easyrpg-player.6.adoc
  src/cmdline_parser.h
  src/game_config.cpp
  src/game_config_game.cpp
  src/game_config_game.h
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
  src/player.cpp
Labels: Performance, Enhancement, RPG_RT Patches

#3207 Windows: Fix touch input, disable window rounding
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  src/input_source.cpp
  src/input_source.h
  src/platform/sdl/main.cpp
  src/platform/sdl/sdl2_ui.cpp
Labels: Win32
