Repository EasyRPG/Player, pull requests merged in 2024-09, with the labels that each got.

#3221 New command "Wait for Single Movement"
  src/game_character.cpp
  src/game_character.h
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
Labels: Event/Interpreter, EasyRPG

#3257 Small (regression) fixes
  CMakeLists.txt
  src/game_screen.cpp
  src/scene_equip.cpp
  src/window_equipitem.cpp
Labels: Window/Scenes

#3253 Refactor: Always check isMessageActive() at the beginning in game_Int…
  src/game_interpreter_map.cpp
  src/game_map.cpp
  src/game_map.h
  src/tilemap_layer.cpp
Labels: Event/Interpreter, Refactor

#3262 Android: fix version bump, improve title encoding detection
  CMakeLists.txt
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser.cpp
  builds/android/app/src/main/AndroidManifest.xml
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/cmake/Modules/PlayerFindPackage.cmake
Labels: Android, Building

#3233 Interpreter Refactor
  CMakeLists.txt
  Makefile.am
  src/game_event.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_control_variables.cpp
  src/game_interpreter_control_variables.h
  src/game_interpreter_map.cpp
  src/game_interpreter_shared.cpp
  src/game_interpreter_shared.h
  src/game_map.cpp
  src/game_map.h
  src/game_strings.h
  src/maniac_patch.cpp
  src/maniac_patch.h
Labels: Event/Interpreter, Refactor

#3265 Fix 3ds build
  src/decoder_oggvorbis.cpp
  src/game_interpreter_map.cpp
Labels: Building, 3DS

#3248 New Feature - Local Settings
  src/game_config.cpp
Labels: Settings

#3234 WiiU Fixes
  CMakeLists.txt
  CMakePresets.json
  builds/cmake/CMakePresets.json.template
  builds/cmake/gen-cmake-presets.py
  docs/BUILDING.md
  resources/wiiu/icon.png
  resources/wiiu/splash-drc.png
  resources/wiiu/splash-tv.png
  src/baseui.h
  src/decoder_wildmidi.cpp
  src/filefinder_rtp.cpp
  src/filesystem_native.cpp
  src/filesystem_stream.cpp
  src/filesystem_stream.h
  src/filesystem_zip.cpp
  src/game_config.cpp
  src/output.cpp
  src/platform.cpp
  src/platform/3ds/ui.cpp
  src/platform/3ds/ui.h
  src/platform/libretro/ui.cpp
  src/platform/libretro/ui.h
  src/platform/psvita/ui.cpp
  src/platform/psvita/ui.h
  src/platform/sdl/main.cpp
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl2_ui.h
  src/platform/sdl/sdl_audio.cpp
  src/platform/sdl/sdl_ui.cpp
  src/platform/sdl/sdl_ui.h
  src/platform/switch/ui.cpp
  src/platform/switch/ui.h
  src/platform/wiiu/input_buttons.cpp
  src/platform/wiiu/main.cpp
  src/platform/wiiu/main.h
  src/player.cpp
  src/system.h
Labels: WiiU

#3250 Maniacs Patch - Call System Functions
  src/game_interpreter.cpp
  src/game_interpreter_map.cpp
  src/platform/switch/ui.cpp
Labels: Event/Interpreter

#3261 Fix issue 3135 (second try) by exhausting the fluidsynth buffer
  src/decoder_fluidsynth.cpp
Labels: MIDI

#3249 Maniacs Feature - Remove scaling restrictions for pictures
  src/game_interpreter.cpp
  src/sprite_picture.cpp
Labels: Event/Interpreter

#3269 Support The Sacred Tears: TRUE
  CMakeLists.txt
  Makefile.am
  src/filesystem_hook.cpp
  src/filesystem_hook.h
  src/player.cpp
Labels: FileFinder, Building
