Repository EasyRPG/Player, pull requests merged in 2025-03, with the labels that each got.

#3341 PROCESS JSON COMMAND - New Features
  CMakeLists.txt
  Makefile.am
  configure.ac
  src/game_interpreter.cpp
  src/game_strings.cpp
  src/game_strings.h
  src/json_helper.cpp
  src/json_helper.h
  tests/assets/json/list.json
  tests/assets/json/obj.json
  tests/json.cpp
Labels: Event/Interpreter, Building, Tests, EasyRPG

#3364 Fix: MP3 detection would always return false for very small files
  src/decoder_mpg123.cpp
Labels: Audio

#3365 Libretro related buildfixes and new presets
  CMakeLists.txt
  CMakePresets.json
  builds/cmake/CMakePresets.json.template
  builds/cmake/CMakePresetsBase.json
  builds/cmake/CMakePresetsUser.json
  builds/cmake/LinuxToolchain.cmake
  builds/cmake/Modules/FindPixman.cmake
  builds/cmake/Modules/Findharfbuzz.cmake
  src/audio_generic_midiout.cpp
  src/game_config.cpp
  src/game_destiny.cpp
  src/game_destiny.h
  src/output.cpp
  src/platform/libretro/ui.cpp
Labels: Audio, Building, MIDI

#3361 Minor changes
  CMakeLists.txt
  Makefile.am
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  src/cache.cpp
  src/exe_reader.cpp
  src/font.cpp
  src/game_config.cpp
  src/game_party.cpp
  src/game_pictures.cpp
  src/game_windows.cpp
  src/player.cpp
  src/scene.h
  src/scene_battle.h
  src/scene_language.cpp
  src/scene_name.cpp
  src/sprite_airshipshadow.cpp
  src/window_battlecommand.cpp
  src/window_battlecommand.h
Labels: Android, Window/Scenes, Bitmaps, Fonts, Building, Battle, Settings

#3362 Implement undocumented mouse binding for the Ineluki patch
  src/game_ineluki.cpp
  src/game_ineluki.h
  src/input.cpp
  src/input.h
  src/input_source.cpp
  src/input_source.h
Labels: RPG_RT Patches, Input

#3144 Add new path finding command 2003
  src/game_character.cpp
  src/game_character.h
  src/game_interpreter_map.cpp
  src/game_interpreter_map.h
  src/game_map.cpp
  src/game_map.h
  src/game_variables.cpp
  src/game_variables.h
Labels: Event/Interpreter, Move Routes, EasyRPG

#3374 Various Fixes
  src/audio_generic.cpp
  src/fileext_guesser.cpp
  src/game_ineluki.h
  src/maniac_patch.cpp
  src/scene_gamebrowser.cpp
  src/translation.h
  src/utils.cpp
  src/utils.h
  src/window_input_settings.cpp
  tests/json.cpp
Labels: Building

#3377 Clear flash on non-flash pictures
  src/sprite_picture.cpp
Labels: Bitmaps

#3385 Libretro fixes and one hotfix for YNOnline Users with loooong playtimes
  src/platform/libretro/ui.cpp
  src/player.cpp
  src/scene_battle_rpg2k3.cpp
  src/tilemap_layer.cpp
Labels: Window/Scenes, Crash, Battle, libretro
