Repository EasyRPG/Player, pull requests merged in 2025-02, with the labels that each got.

#3350 Fix game browser crash
  src/window_gamelist.cpp
Labels: Window/Scenes, Crash, Regression

#3353 StringVar: address popLine edge case behavior to match maniacs
  src/game_strings.cpp
Labels: RPG_RT Patches

#3356 Android: Properly handle rotations
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgSurface.java
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl3_ui.cpp
Labels: Android, Building

#3343 Fix OOB reads
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/game_interpreter_map.cpp
  src/game_interpreter_shared.h
Labels: Event/Interpreter

#3355 Logging: Use one shared logfile
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser.cpp
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/player/SafFile.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  resources/unix/easyrpg-player.6.adoc
  src/game_config.cpp
  src/game_config.h
  src/options.h
  src/output.cpp
  src/player.cpp
  src/window_settings.cpp
Labels: Android, Window/Scenes, Building, Documentation, Settings

#3359 Small console (homebrew) fixes
  CMakeLists.txt
  builds/cmake/CMakePresetsUser.json
  resources/3ds/easyrpg-player.xml
  src/bitmap.cpp
  src/game_config.cpp
  src/game_config.h
  src/output.cpp
  src/platform/switch/ui.cpp
  src/window_settings.cpp
Labels: Bitmaps, Building, Wii, 3DS, Switch, Settings, WiiU
