Repository EasyRPG/Player, pull requests merged in 2025-05, with the labels that each got.

#3371 New Database terms for Maniacs
  CMakeLists.txt
  Makefile.am
  src/game_actor.cpp
  src/game_actor.h
  src/game_battlealgorithm.cpp
  src/game_message_terms.cpp
  src/game_message_terms.h
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
Labels: Battle, Refactor, RPG_RT Patches

#3390 Update flatpak, metainfo, snapcraft for 0.8.1
  .editorconfig
  .github/workflows/linter.yml
  .github/workflows/pr_labels.yml
  builds/flatpak/org.easyrpg.player.yml
  builds/snap/snapcraft.yaml
  resources/unix/easyrpg-player.metainfo.xml
Labels: Building, Documentation

#3410 Fix #3366
  src/game_map.cpp
Labels: Event/Interpreter, Move Routes

#3406 New setting options for screenshots: Periodically take auto-screenshots + option for timestamps in file names
  src/game_config.cpp
  src/game_config.h
  src/output.cpp
  src/output.h
  src/platform/emscripten/interface.cpp
  src/platform/emscripten/interface.h
  src/player.cpp
  src/utils.h
  src/window_settings.cpp
Labels: Window/Scenes, Emscripten, Settings

#3379 Change EasyRPG's "SetInterpreterFlag" to make patch overrides temporary
  src/feature.cpp
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_shared.cpp
  src/game_interpreter_shared.h
  src/player.h
  src/scene_debug.cpp
  src/window_interpreter.cpp
  src/window_interpreter.h
Labels: Window/Scenes, Settings

#3408 Android: Fix all the crap required since Android 15 (Edge-To-Edge, Back callbacks).
  builds/android/app/build.gradle
  builds/android/app/src/main/AndroidManifest.xml
  builds/android/app/src/main/java/org/easyrpg/player/BaseActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/Helper.java
  builds/android/app/src/main/java/org/easyrpg/player/ScrollView.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/ButtonMappingActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/android/app/src/main/res/drawable/ic_action_favorite_off_black.xml
  builds/android/app/src/main/res/drawable/ic_action_favorite_on_black.xml
  builds/android/app/src/main/res/drawable/ic_article_black.xml
  builds/android/app/src/main/res/drawable/ic_folder_open_black.xml
  builds/android/app/src/main/res/drawable/ic_gamepad_black.xml
  builds/android/app/src/main/res/drawable/ic_home_dark.xml
  builds/android/app/src/main/res/drawable/ic_info.xml
  builds/android/app/src/main/res/drawable/ic_settings_black.xml
  builds/android/app/src/main/res/drawable/ic_video_label_black.xml
  builds/android/app/src/main/res/drawable/ic_view_list_black.xml
  builds/android/app/src/main/res/drawable/ic_volume_up_black.xml
  builds/android/app/src/main/res/layout/activity_init.xml
  builds/android/app/src/main/res/layout/activity_settings_audio.xml
  builds/android/app/src/main/res/layout/activity_settings_easyrpg_folders.xml
  builds/android/app/src/main/res/layout/activity_settings_font.xml
  builds/android/app/src/main/res/layout/activity_settings_inputs.xml
  builds/android/app/src/main/res/layout/activity_settings_main.xml
  builds/android/app/src/main/res/layout/activity_settings_video.xml
  builds/android/app/src/main/res/layout/browser_game_card_landscape.xml
  builds/android/app/src/main/res/layout/browser_game_card_portrait.xml
  builds/android/app/src/main/res/values-night/colors.xml
  builds/android/app/src/main/res/values-night/styles.xml
  builds/android/app/src/main/res/values-v21/styles.xml
  builds/android/app/src/main/res/values/colors.xml
  builds/android/app/src/main/res/values/styles.xml
Labels: Android, UX, Building

#3420 SDL: Bump Android version
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
Labels: Android, Building

#3416 Fix #3415 (Access violation in RM2K battle scene)
  src/scene_battle_rpg2k.cpp
Labels: Window/Scenes, Battle

#3419 Translation fix: Files inside "Text" folder were not translated
  src/filefinder.cpp
  src/filefinder.h
  src/player.cpp
  src/player.h
Labels: FileFinder

#3422 Fix #3417 + small FF cleanup
  src/battle_animation.cpp
  src/player.cpp
  src/player.h
  src/window_settings.cpp
Labels: Battle, Animations
