Repository EasyRPG/Player, pull requests merged in 2025-04, with the labels that each got.

#3383 Fix MP3 heuristic check
  src/decoder_mpg123.cpp
Labels: Audio, Heuristics

#3388 Urgent Android fix
  builds/android/app/build.gradle
  builds/android/app/src/main/AndroidManifest.xml
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsEnum.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsVideoActivity.java
  builds/android/app/src/main/res/layout/activity_settings_video.xml
  builds/android/app/src/main/res/values/strings.xml
  builds/android/app/src/main/res/values/styles.xml
Labels: Android, Building

#3387 Android: Update translations
  builds/android/app/src/main/res/values-hu/strings.xml
  builds/android/app/src/main/res/values-ko/strings.xml
  builds/android/app/src/main/res/values-pt-rBR/strings.xml
  builds/android/app/src/main/res/values-tr/strings.xml
  builds/android/app/src/main/res/values-zh/strings.xml
  builds/android/metadata/hu-HU/full_description.txt
  builds/android/metadata/hu-HU/short_description.txt
  builds/android/metadata/hu-HU/title.txt
  builds/android/metadata/pt-BR/full_description.txt
  builds/android/metadata/tr_TR/full_description.txt
  builds/android/metadata/tr_TR/short_description.txt
  builds/android/metadata/tr_TR/title.txt
Labels: Android, Building

#3389 Release 0.8.1 "Stun"
  CMakeLists.txt
  builds/android/gradle.properties
  configure.ac
  docs/AUTHORS.md
  docs/BUILDING.md
  docs/TRANSLATORS.md
  src/version.cpp
Labels: Building, Documentation

#3391 Started working on #3375
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  README.md
  configure.ac
  docs/BUILDING.md
  src/platform/sdl/sdl2_ui.cpp
Labels: Building, Documentation

#3404 Fix StringIsAscii by explicitly setting the type to "signed char"
  .github/workflows/stable-compilation.yml
  src/utils.h
  tests/utils.cpp
Labels: Regression

#3396 Fix LZH encoding detection not working
  src/filesystem_lzh.cpp
  src/filesystem_lzh.h
Labels: FileFinder

#3397 Compiler fixes
  CMakeLists.txt
  builds/cmake/CMakePresetsBase.json
  builds/cmake/Modules/PlayerConfigureWindows.cmake
Labels: Building, PSVita

#3405 Fix: Two of new 0.8.1 engine options were not written to the config INI
  src/game_config.cpp
Labels: Settings

#3398 Extend the "Strings" view in debug screen to display names of StringVars (+ some debug screen adjustments)
  src/game_strings.cpp
  src/game_strings.h
  src/lcf/data.h
  src/lcf_data.cpp
  src/scene_debug.cpp
  src/scene_debug.h
  src/window_stringview.cpp
  src/window_stringview.h
  src/window_varlist.cpp
  src/window_varlist.h
Labels: Window/Scenes
