Repository EasyRPG/Player, pull requests merged in 2025-06, with the labels that each got.

#3411 Several fixes for the CloneMapEvent/DestroyMapEvent commands
  src/game_interpreter.cpp
  src/game_map.cpp
Labels: Event/Interpreter, EasyRPG

#3421 CMake: Allow disabling (L)GPL libraries and some fonts
  CMakeLists.txt
  Makefile.am
  configure.ac
  resources/shinonome/generate_cxx_font.rb
  resources/shinonome/korean/COPYING
  resources/shinonome/korean/font_src_diff.bit
  src/bitmapfont.h
  src/font.cpp
  src/generated/bitmapfont_baekmuk.h
  src/generated/shinonome_gothic.h
  src/window_settings.cpp
Labels: Window/Scenes, Fonts, Building

#3349 Maniac´s debugging features: GetCommandInterpreterState (GetGameInfo), maniac_event_info & more debugging extensions
  CMakeLists.txt
  Makefile.am
  src/filefinder.h
  src/game_commonevent.cpp
  src/game_commonevent.h
  src/game_event.cpp
  src/game_event.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_battle.cpp
  src/game_interpreter_debug.cpp
  src/game_interpreter_debug.h
  src/game_interpreter_shared.h
  src/game_map.cpp
  src/input_buttons.h
  src/rtp.h
  src/scene_debug.cpp
  src/scene_debug.h
  src/window_gamelist.cpp
  src/window_interpreter.cpp
  src/window_interpreter.h
Labels: Window/Scenes, Building
