Repository EasyRPG/Player, pull requests merged in 2025-01, with the labels that each got.

#3309 Maniacs Feature - Partially implement command GetGameInfo (3021)
  src/game_actor.h
  src/game_interpreter.cpp
  src/game_interpreter.h
  src/game_interpreter_control_variables.cpp
  src/game_interpreter_map.cpp
  src/game_interpreter_shared.h
  src/game_strings.h
Labels: Event/Interpreter, RPG_RT Patches

#3322 Emscripten: fix typo in emscripten-shell.html
  resources/emscripten/emscripten-shell.html
Labels: Emscripten

#3321 Android: Fix common crashes / various improvements
  builds/android/app/build.gradle
  builds/android/app/src/main/AndroidManifest.xml
  builds/android/app/src/main/java/org/easyrpg/player/BaseActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/Helper.java
  builds/android/app/src/main/java/org/easyrpg/player/InitActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/ButtonMappingActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/button_mapping/VirtualButton.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/player/EasyRpgPlayerActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsAudioActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsEnum.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsFontActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsGamesFolderActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsInputActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsMainActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsManager.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsVideoActivity.java
  builds/android/app/src/main/res/layout/activity_settings_inputs.xml
  builds/android/app/src/main/res/values/strings.xml
  builds/android/app/src/main/res/xml/file_paths.xml
  builds/android/build.gradle
  builds/android/gradle.properties
  src/platform/android/org_easyrpg_player_player_EasyRpgPlayerActivity.cpp
Labels: Android, Building

#3330 GetInfo - Support Tile ID
  src/game_interpreter.cpp
  src/game_map.cpp
  src/game_map.h
Labels: RPG_RT Patches

#3318 Fix compiler warnings, bump deps etc.
  .github/workflows/stable-compilation.yml
  CMakeLists.txt
  Makefile.am
  builds/android/app/src/main/java/org/libsdl/app/SDLActivity.java
  builds/cmake/Modules/PlayerFindPackage.cmake
  src/audio_decoder_midi.cpp
  src/audio_generic.h
  src/audio_midi.cpp
  src/autobattle.cpp
  src/decoder_fluidsynth.cpp
  src/enemyai.cpp
  src/external/dr_wav.h
  src/filefinder.cpp
  src/filesystem_lzh.cpp
  src/filesystem_native.cpp
  src/filesystem_zip.cpp
  src/game_battle.cpp
  src/game_battle.h
  src/game_battlealgorithm.cpp
  src/game_battler.cpp
  src/game_character.cpp
  src/game_character.h
  src/game_clock.cpp
  src/game_destiny.cpp
  src/game_destiny.h
  src/game_ineluki.cpp
  src/game_interpreter.cpp
  src/game_interpreter_battle.cpp
  src/game_interpreter_shared.cpp
  src/game_switches.cpp
  src/game_variables.cpp
  src/output.h
  src/platform/3ds/clock.cpp
  src/platform/libretro/clock.cpp
  src/platform/psvita/clock.cpp
  src/platform/sdl/sdl2_ui.cpp
  src/platform/switch/clock.cpp
  src/platform/wii/clock.cpp
  src/scene.cpp
  src/scene_battle_rpg2k.cpp
  src/scene_battle_rpg2k3.cpp
  src/scene_debug.cpp
  src/scene_name.cpp
  src/string_view.h
  src/utils.cpp
  src/window_interpreter.cpp
  src/window_settings.cpp
  tests/font.cpp
  tests/game_destiny.cpp
  tests/move_route.cpp
  tests/test_move_route.h
  tests/text.cpp
Labels: Building, Tests

#3329 FlashEvent - Maniac Patch Parameters
  src/game_interpreter_map.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3328 Map: initialize screen width and height on SetupCommon
  src/game_map.cpp
Labels: Maps

#3324 Rewrite map fixes
  src/spriteset_map.cpp
  src/tilemap.h
  src/tilemap_layer.cpp
Labels: Event/Interpreter, RPG_RT Patches

#3319 Maniac Patch - CallCommand Update
  src/game_interpreter.cpp
  src/maniac_patch.cpp
  src/maniac_patch.h
Labels: Event/Interpreter, RPG_RT Patches

#3326 QoL: detect unsupported engines
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser.cpp
  builds/android/app/src/main/java/org/easyrpg/player/InitActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/Game.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameScanner.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/ProjectType.java
  builds/android/app/src/main/res/layout/browser_game_card_landscape.xml
  builds/android/app/src/main/res/layout/browser_game_card_portrait.xml
  builds/android/app/src/main/res/values/strings.xml
  src/directory_tree.cpp
  src/directory_tree.h
  src/filefinder.cpp
  src/filefinder.h
  src/scene_gamebrowser.cpp
  src/window_gamelist.cpp
  src/window_gamelist.h
Labels: Android, Window/Scenes, FileFinder, UX, Building

#3334 Partial revert of e7767ffb (the code that replaced min/max with clamp)
  src/game_map.cpp
Labels: Event/Interpreter, Testcase available

#3337 TriggerEventAt: Add flag to configure "Face Player" behaviour
  src/game_interpreter_map.cpp
  src/game_player.cpp
  src/game_player.h
  src/tilemap_layer.cpp
Labels: RPG_RT Patches

#3338 Android: Add button to open save directory and better "open folder" experience
  builds/android/app/src/gamebrowser/org_easyrpg_player_game_browser.cpp
  builds/android/app/src/main/java/org/easyrpg/player/Helper.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/Game.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserHelper.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameScanner.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsAudioActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsFontActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/settings/SettingsGamesFolderActivity.java
  builds/android/app/src/main/res/values/strings.xml
  src/filesystem_lzh.cpp
Labels: Android, FileFinder, UX

#3340 Android: Reload native libraries on resume
  builds/android/app/src/main/java/org/easyrpg/player/BaseActivity.java
  builds/android/app/src/main/java/org/easyrpg/player/game_browser/GameBrowserActivity.java
Labels: Android

#3332 Wii: Add SDL2 support
  CMakeLists.txt
  src/decoder_oggvorbis.cpp
  src/game_config.cpp
  src/game_interpreter.cpp
  src/options.h
  src/platform/sdl/sdl2_ui.cpp
  src/platform/sdl/sdl_ui.cpp
  src/platform/wii/audio.cpp
  src/platform/wii/input_buttons.cpp
  src/platform/wii/main.cpp
Labels: Audio, Building, Wii, Settings, Input
